################################################################################################
# File: homing.cfg
# Author: Bondtech
# Date: 20260828
# purpose: Homing for INDX
# 
# source: https://github.com/BondtechAB/INDX/b
#
################################################################################################
#
#
# THe homing.cfg is mentioned Bondtech`s Readme, but dies not exist on their GitHub Repo.
#
# In calibration.cfg I added a [homing_override] section.
