################################################################################################
# File: mods_by_andreas.cfg
# Author: Andreas
# Date: 20260911
# purpose: Possbile modifications on Bondtech CFGs to improve behaviour
#
################################################################################################




################################################################################################
# homing.cfg
################################################################################################
# ---- ADDED ---------------------------------------------------------------------------
[gcode_macro _REDUCE_TCM_CURRENT]
description: Reduce the current on stepper motors for homing
gcode
    # Defines the amount of current during homing
    {% set HOMING_STEPPER_XY_RUN_CURRENT = (printer.save_variables.variables.andreas_homing_stepper_xy_run_current|default(0.49))|float %}

    # Get actual current settings for stepper motors
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}

    # Reduce current on Stepper-Motors
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOMING_STEPPER_XY_RUN_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOMING_STEPPER_XY_RUN_CURRENT}

# ---- ADDED ---------------------------------------------------------------------------
[gcode_macro _RESET_TCM_CURRENT]
description: Set back the current on stepper motors to original values.
gcode:
    # Set back current on Stepper-Motors
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}


# ---- MODIFICATION ---------------------------------------------------------------------------
[homing_override]
axes: xyz
gcode:
    {% set home_all = not ('X' in params or 'Y' in params or 'Z' in params) %}
    {% set home_x = home_all or 'X' in params %}
    {% set home_z = home_all or 'Z' in params %}
    # X requires Y: G28 X with Y unknown homes Y first
    {% set home_y = home_all or 'Y' in params
        or (home_x and "y" not in printer.toolhead.homed_axes) %}
    {% set tp = printer["gcode_macro TOOL_POSITIONS"] %}

    _REDUCE_TCM_CURRENT    # Added by Andreas

    # 1. Clear Z before any axis home
    _INDX_SAFE_Z_HOP

    # 2. Home Y first (X-first can sweep into tools)
    {% if home_y %}
        G28 Y
    {% endif %}

    # 3. If Y was already homed, stay off the dock before X.
    # Just-homed Y is already at the endstop. Do not move from the
    # pre-home Y this template still sees.
    {% if home_x %}
        {% if not home_y %}
            {% set cur_y = printer.toolhead.position.y|float %}
            {% set clear_y = tp.clearance_y|float %}
            {% if (cur_y - clear_y) * (tp.dock_dir|float) > 0 %}
                G90
                G0 Y{"%.3f"|format(clear_y)} F3000
            {% endif %}
        {% endif %}
        G28 X
    {% endif %}

    # 4. Z needs a seated tool (load cell = nozzle probe)
    {% if home_z %}
        _INDX_HOME_Z
    {% endif %}

    _RESET_TCM_CURRENT    # Added by Andreas





################################################################################################
# indx-tc-macros.cfg
################################################################################################

# ---- MODIFICATION ---------------------------------------------------------------------------
[gcode_macro CHANGE_TOOL]
...
    # Bounds check
    {% if t < 0 or t >= tp.tool_count|int %}
        # If requested tool (t) is invalid --> Abort
        {action_raise_error("T%d is not configured. %d tools available (T0–T%d)."
            % (t, tp.tool_count|int, tp.tool_count|int - 1))}
    {% endif %}

    {% if act != t %}
        # If tool in toolehad (act) is not the tool requested (t) --> Home all axis
        # 0. Home if not already homed
        
        # Homes only if all three axis are not homed. Homes all axis. Z is homed even if there is no tool in the toolahard which causes teh toolhead crashing inzo zhe printbed !
        # {% if "xyz" not in printer.toolhead.homed_axes %}     # Bondtech original 
        #   G28                                                 # Bondtech original 
        # {% endif %}                                           # Bondtech original 
        
        # Homes when X or Y is not homed. And homes only X and Y. Not Z
        {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes %}   # By Andreas
            G28 X Y                                                                                 # By Andreas
        {% endif %}                                                                                 # By Andreas



# ---- MODIFICATION ---------------------------------------------------------------------------
[gcode_macro PARK_TOOL]
...
    {% if act != -1 %}
        # Home if not already homed
        # {% if "xyz" not in printer.toolhead.homed_axes %}       # By Bondtech
        {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes or "z" not in printer.toolhead.homed_axes %}   # By Andreas
            G28
        {% endif %}
