################################################################################################
# File: calibration.cfg
# Author: Andreas
# Date: 20250821
# purpose: Calibration of the printer
#
# Conent:
#   - Macros (G32)
#   - Homing G28
#   - Z probe reset
#   - input shaper
#   - bed mesh
#   - quad gantry leveling
#   - PID chamber heater
#   - calibrate all
#
# include in printer.cfg
################################################################################################



################################################################################################
# G32
################################################################################################
[gcode_macro G32]
description: Custom gcode macro, typically in Voron printers. Used to perform a "full home" procedure. Can be uesd at PRINT_START Macro
gcode:
    SAVE_GCODE_STATE NAME=STATE_G32            # merkt sich den aktuellen G-Code-Zustand. Ohne würde macro den drucker "schmutzig" hinterlassen.
    #BED_MESH_CLEAR                          # Delets existing bed meshes   # Why that? # commented out (by andreas)
    G90                                     # Set absolute mode

    #G28                                     # homes all axis - part of quad_gantry_level
    QUAD_GANTRY_LEVEL                       # Performing quad gantry levling
    #G28                                     # homes all axis - part of quad_gantry_level
    #PARK_TOOLHEAD                           # Parking the toolhead  - part of quad_gantry_level
    RESTORE_GCODE_STATE NAME=STATE_G32





################################################################################################
# Input shaping
# --> adxl345 chip is configured in EECAN.cfg file
################################################################################################
[input_shaper]
# description: Activates input shaper functionality
    # The lins with the values are commented out due to calibration via terminal command. Values are stored in printer.cfg.
    # How to Calibrate See printer.cfg
#shaper_freq_x: 54.8
#shaper_type_x: mzv
#shaper_freq_y: 26.4
#shaper_type_y: mzv

##############################################################
[resonance_tester]
# description: Defines the resonance test parameters.
accel_chip: lis2dw
probe_points:           # Defines specific point on the bed where resonance is tested
    180, 180, 50        # Coordinates for resonance testing
max_freq: 200           # Maxiumum frequence for resonance test
    #   In INDX Doku, no max_frequ is set.

##############################################################
[gcode_macro input_shaper_calibration]
description: Starts the input shaper calibration
gcode:
    M117 Input shaper calibration: Executing calibration
    SHAPER_CALIBRATE
    M117 Input shaper calibration: Saving values
    SAVE_CONFIG
    M117 Input shaper calibration: Completed


################################################################################################
# Bed Mesh calibration
#
# Shall be measherd at the temperature the printing takes place. Different meshes can be stored with dirrefent bed temperatures.
# infos: https://www.klipper3d.org/Bed_Mesh.html
################################################################################################
[bed_mesh]
speed: 200                                  # The speed in which the tool moves between points. Default: 50
horizontal_move_z: 2                        # The Z coordinate the probe rises to prior to traveling between points. Default: 5
mesh_min: 15, 15                            # The first probed coordinate, nearest to the origin. This coordinate is relative to the probe's location. (X, Y)
mesh_max: 385, 370                          # The probed coordinate farthest from the origin. This is not necessarily the last point probed, as the probing process occurs in a zig-zag fashion. As with mesh_min, this coordinate is relative to the probe's location. (X, Y)
probe_count: 9, 9                           # The number of points to probe on each axis (X, Y) 5x5=25points - Default: 3, 3
#mesh_pps: 2, 2                             # Mesh Points Per Segment. This option specifies how many points to interpolate for each segment along the X and Y axes. Default: 2, 2
algorithm: bicubic                          # The algorithm used to interpolate the mesh: lagrange / bicubic - Default: lagrange
#bicubi_tension: 0.2                        # It is possible to specify the tension value, if the algorithm option is set to bicubic. Default: 0.2
zero_reference_position: 200,200      # expects an (X, Y) coordinate matching that of the reference position described above.
                                            # If the coordinate lies within the mesh then the mesh will be offset so the reference position applies zero adjustment.
                                            # If the coordinate lies outside of the mesh then the coordinate will be probed after calibration, with the resulting z-value used as the z-offset.
                                            # Default: non (disabled)
                                            # deactivated (by Andreas)

##############################################################
# [BED_MESH_CALIBRATE]
#   --> Replaced by KAMP_Settings.cfg --> Adaptive_meshing.cfg



################################################################################################
# Gantry leveling - QGL = quad gantry level
################################################################################################
[quad_gantry_level]
# description: measures 4 points and aligns the gantry with the print bed.

gantry_corners:     # (by andreas)      # printbed to rail distance (x,y)
	-91,104         # front-left corner Z: 0-91 , 0+104
    509, 418        # back-right corner Z2: 400+109 , 400+18

points:             # (by andreas)      # points - define where the 4 probing pints are (X,Y). rder of the locations is important, and should correspond to Z, Z1, Z2, and Z3 location
	20,20
	20,380
	380,380
	380,20

speed: 100              # movement speed while probing (in mm/s). (Voron2.4: 100) Default: 50
                        # 200 (by eryone)
horizontal_move_z: 10   # How much the nozzle is lifted beofre moving from one probing point to the next one. prevents nozzle crashing. Default: 5
                        # (voron2.4: 10) 10 (by eryone)
retries: 5              # Number of times to retry if the probed points aren't within tolerance.
                        # (voron2.4: 5) 9 (by eryone)
retry_tolerance: 0.05   # If retries are enabled then retry if largest and smallest probed points differ more than retry_tolerance. (Voron2.4: 0.0075)
max_adjust: 4          # Maximum amount that Klipper is allowed to adjust the motors during a leveling cycle. (in mm). Prevents major moves from misalignment.
                        # 1(voron2.4: 10) 5 (by eryone)


# ::: Explanation :::
# If the process fails due to an “out of bounds” error, disable your stepper motors and slowly move your gantry or bed by hand until it is approximately flat. Re-home your printer (G28) and then rerun the sequence.
# Make sure that the adjustment value for each stepper motor converges to 0. If it diverges, check to make sure you have your stepper motors wired to the correct stepper driver (check documentation).
# You may have to run it more than once.

# gantry_corners value determination:
# A newline separated list of X, Y coordinates describing the two opposing corners of the gantry. The first entry corresponds to Z, the second to Z2. This parameter must be provided. 
#    ----------------
#    |Z1          Z2|
#    |  ---------   |
#    |  |       |   |
#    |  |       |   |
#    |  x--------   |
#    |Z           Z3|
#    ----------------
# Example:
#   gantry_corners:
#	    -60,-10
#       406,470
# The negative coordinates (-60, -10) mean the gantry extends 60 mm left and 10 mm in front of the bed origin (0,0). Marked with the x in the above drawing.
# The larger positive coordinates (460, 470) mean the gantry extends 60 mm right and 70 mm behind the bed’s far corner (bed size: 400,400).

# ::: Settings from others :::
# (by eryone) -  The Eryone values does not match a 400x400mm bed. It may matche to a 250x250mm bed.
#   gantry_corners:
#	    -58,-7
#       308,318
#   points:
#	    20,103
#	    20,383
#	    320,383
#	    320,103
# (by voron) 300x300mm bed of voron2.4
#   gantry_corners:
#       -60,-10
#       360,370


############################################################################
[gcode_macro SAFE_QGL]
description: ??? Why that ?
gcode:
    {% set saved_temp = printer.extruder.target %}
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=150
    M109 S150       # Set hotend temperature ands wait until reached
    
    # Temporarily "unload" to avoid E-checks (no real extrusion)
    G92 E0
    G1 E-1 F100  # Tiny relative retract (safe at low temp)
    
    QUAD_GANTRY_LEVEL  # Call Gcode_macro
    
    # Reheat
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={saved_temp}
    M109 S{saved_temp}
    
    G92 E0  # Reset E position


#############################################################
[gcode_macro QUAD_GANTRY_LEVEL]
description: Performing the quad gantry leveling
rename_existing: QUAD_GANTRY_LEVEL_BASE     # Renames the original QUAD_GANTRY_LEVEL command to QUAD_GANTRY_LEVEL_BASE. This allows to wrap and extend it while the original can still be called.
gcode:                                     # The folliwing code is gcode
	{ action_respond_info("Starting quad gantry level process") }
    M117 QUAD GANTRY level process started            # Display the message quad_gantry_level

    # Set bed Temperature # from SOVOL: https://github.com/Sovol3d/SV08MAX/blob/main/home/sovol/printer_data/config/Macro.cfg
    {% set mesh_name = "default" %}
    {% set bed_mesh_calibrate_temperature = params.S|default(printer.save_variables.variables.andreas_bed_mesh_calibrate_target_temp|default(50))|float %}
    {% set bed_current_target_temperature  = printer.heater_bed.target|int %}      # not used

    {% set nozzle_probing_temperature = (printer.save_variables.variables.andreas_nozzle_probing_temp|default(150))|int %}

    {action_respond_info("Checking bed temperature")}
    {% if printer.heater_bed.temperature != bed_mesh_calibrate_temperature %}
        M140 S{bed_mesh_calibrate_temperature}     # Sets bed temperature. no waiting
        {action_respond_info("The bed is not at targeted temperature for QGL.")}
        {action_respond_info("Temperature Heatbed = %.1f°C, Target Temp = %.1f°C" % (printer.heater_bed.temperature, bed_mesh_calibrate_temperature))}
        {action_respond_info("Adjusting bed temperature ...")}
        M190 S{bed_mesh_calibrate_temperature}     # Set bed temperature and waits until it is reached
    {% endif %}

    # If axis not homed, home them.     # from source: https://github.com/Sovol3d/SV08MAX/blob/main/home/sovol/printer_data/config/Macro.cfg
    {% if printer.toolhead.homed_axes|lower != "xyz" %}
        M117 Axis not homed. Start homing process
    	{ action_respond_info("Axis not homed. Start homing process") }
        G28
    {% endif %}


    # ??? Deactivated for test puropse (by Andreas 20251003-16212)
    #_CLEAN_N S=220 X=240 Y=-3 A=0            # Runs the custom nozle cleaning macro _CLEAN_N. Heats the nozzle to 220°C. Moves teh toolhead to X=240 and Y=-3.



    #QUAD_GANTRY_LEVEL_BASE                    # This is how sofol is doing it (by sovol) https://github.com/Sovol3d/SV08/blob/main/home/sovol/printer_data/config/Macro.cfg
    #QUAD_GANTRY_LEVEL_BASE  LIFT_SPEED=5      # commented out (by eryone)

    M109 S{nozzle_probing_temperature}          # Set Nozzle temperature
    
    # ??? Skipping for testing. If it works. Will speed up printstart sequence
    #M117 Quad gantry level 1of2: horizontal_move_z:10 retry_tolerance:1
    #M400                                        # added (by Andreas)
    #QUAD_GANTRY_LEVEL_BASE  horizontal_move_z=10 retry_tolerance=1 LIFT_SPEED=5     # Runs the original quad gantry leveling procedure. Moves Z up by 10mm. Uses a loose retry_tolerance for the first pass (quick alignment). Lift_speed controls the speed of the Z axis movement.
    #G4 P500                                     # Wait 500ms
    #M400
    #M117 homing Z axis
    #G28 Z                                      # homes the Z axis (Gantry was adjusted. Set new reference)
    #G4 P500

    M109 S{nozzle_probing_temperature}          # Set Nozzle temperature

    M117 Quad gantry level 2of2: horizontal_move_z:5 retry_tolerance:0.05
    M400                                        # added (by Andreas)
    QUAD_GANTRY_LEVEL_BASE  horizontal_move_z=5 retry_tolerance=0.05 LIFT_SPEED=5
    G4 P500
    M400
    M117 homing all axis                          # homes axis (Gantry was adjusted. Set new reference)
    G28

    #G1 X132.5 Y197.5                           # moves toolhead to spcific X and Y position
    
    M400                                        # added (by Andreas)
    PARK_TOOLHEAD                               # (by Andreas)
    
    #M117 homing Z at current position (G28 N)  # commented out (by andreas)
    #G28 N                                      # homes only the Z axis using a probe.  # commented out (by andreas) - ??? Why ??? --> Not working.
    #HOME_Z X=132.5 Y=197.5                     # commented out (by eryone)

    M400
    M117 quad gantry level process completed    # Shows message




################################################################################################
# chamber temeprature management - Calibration chamber PID
################################################################################################
[gcode_macro CALIBRATE_CHAMBER_PID]
description: calibrate chamber heater (PID) and saves the result to printer.cfg
variable_prev_bed: 0
gcode:
    {% set TARGET = params.S|default(60)|float %}   # Save handed over parameter in a variable

    M117 Start chamber heater calibration (PID) at {TARGET}C ...
    
    SET_TEMPERATURE_FAN_TARGET TEMPERATURE_FAN=chamber_exhaust_fan TARGET=75   # Keep exhaust OFF during calibration (only if you use a temperature_fan)
    PID_CALIBRATE HEATER=chamber_heater TARGET={TARGET}
    
    M117 Chamber heater calibration (PID) done.
    
    SAVE_CONFIG
    M117 PID values saved to printer.cfg.
    # Note: After SAVE_CONFIG Klipper restarts; runtime targets are reset anyway.





################################################################################################
# Initial Setup
################################################################################################
[gcode_macro initial_setup]
### 1. Confirm MCU - Confirm the INDX board exists before Klipper tries to talk to it.
#ls /dev/serial/by-id/


### 2. Load cell (required before any G28 Z)
CALIBRATE_LOAD_CELL                     #[load_cell_probe] has no counts_per_gram until this runs. Without it, G28 Z, QGL, and CAL_Z cannot tap.
CALIBRATE_LOAD_CELL_APPLY GRAMS=1600    # use Bondtech's documented mass
SAVE_CONFIG                             # Writes those counts into the cfg so they survive the next restart.


### 3. Home XY only first time if Z is still unsafe
G28 X Y                                 # Dock is still unmeasured. Full G28 would move Z with a bad dock / empty head. XY first lets you jog onto the dock safely.
# jog, measure dock, write tN_x / tN_dock_y / clearance_y, restart

#Fills the real holder positions. Toolchange macros use these; guessed 10 / 51 / -26 are not calibrated.
CALIBRATE_DOCK_X
CAL_SET_DOCK_Y
SAVE_CONFIG         # Persist dock numbers.


### 4. Z + QGL with T0 seated
G28                     # Now Y→X→pick T0→tap Z can work.
QUAD_GANTRY_LEVEL       # Four Z motors still need a tap after the new head/mass. Old Eryone QGL mesh is invalid.
CAL_Z                   # Each passive tool has its own nozzle height vs T0.
SAVE_CONFIG


### 5. Eddy
# nozzle ~20 mm above bed centre
LDC_CALIBRATE_DRIVE_CURRENT CHIP=indx_eddy      # Coil drive current is unknown until the LDC is run ~20 mm over the bed.
SAVE_CONFIG
# paper test at bed centre
PROBE_EDDY_CURRENT_CALIBRATE CHIP=indx_eddy     # Maps frequency → Z. Needs a homed machine and a paper-test at the nozzle.
SAVE_CONFIG

BED_MESH_CALIBRATE METHOD=scan HORIZONTAL_MOVE_Z=2      # Uses the Eddy map. Useless before the two Eddy calibrations.
SAVE_CONFIG


################################################################################################
#[safe_z_home]
# description:
    # Z-axis limit coordinates (deactivated by Eryone)
    # Replaced by homing_override


################################################################################################
# INDX by Grok
################################################################################################
[homing_override]
axes: xyz
gcode:
    {% set home_all = not ('X' in params or 'Y' in params or 'Z' in params) %}
    {% set home_x = home_all or 'X' in params %}
    {% set home_z = home_all or 'Z' in params %}
    {% set home_y = home_all or 'Y' in params
        or (home_x and "y" not in printer.toolhead.homed_axes) %}
    {% set tp = printer["gcode_macro TOOL_POSITIONS"] %}

    SET_GCODE_VARIABLE MACRO=_TOOLCHANGE_VARS VARIABLE=homing_busy VALUE=1

    _INDX_SAFE_Z_HOP

    {% if home_y %}
        G28 Y
    {% endif %}

    {% if home_x %}
        {% if not home_y %}
            {% set cur_y = printer.toolhead.position.y|float %}
            {% set clear_y = tp.clearance_y|float %}
            {% if (cur_y - clear_y) * (tp.dock_dir|float) > 0 %}
                G90
                G0 Y{clear_y} F3000
            {% endif %}
        {% endif %}
        G28 X
    {% endif %}

    {% if home_z %}
        _INDX_HOME_Z
    {% else %}
        SET_GCODE_VARIABLE MACRO=_TOOLCHANGE_VARS VARIABLE=homing_busy VALUE=0
    {% endif %}

[gcode_macro _INDX_SAFE_Z_HOP]
description: ???
gcode:
    {% set tp = printer["gcode_macro TOOL_POSITIONS"] %}
    {% set z_clr = tp.probe_z_clearance|float %}
    {% if "z" not in printer.toolhead.homed_axes %}
        SET_KINEMATIC_POSITION Z=0 SET_HOMED=Z
        G91
        G0 Z{z_clr} F900
        G90
        SET_KINEMATIC_POSITION SET_HOMED= CLEAR_HOMED=Z
    {% elif printer.toolhead.position.z|float < z_clr %}
        G90
        G0 Z{z_clr} F900
    {% endif %}


[gcode_macro _INDX_HOME_Z]
variable_home_tool: 0
gcode:
    {% if "xy" not in printer.toolhead.homed_axes %}
        SET_GCODE_VARIABLE MACRO=_TOOLCHANGE_VARS VARIABLE=homing_busy VALUE=0
        {action_raise_error("Must home X and Y before Z")}
    {% endif %}
    {% set act = printer.save_variables.variables.active_tool|default(-1)|int %}
    {% if act < 0 %}
        CHANGE_TOOL TOOL=0
    {% endif %}
    G90
    G0 X{tp_safe_x()} Y{tp_safe_y()} F6000
    G28 Z
    SET_GCODE_VARIABLE MACRO=_TOOLCHANGE_VARS VARIABLE=homing_busy VALUE=0