################################################################################################
# File: canuid.cfg
# Author: Andreas
# Date: 20260912
# purpose: MCU IDs
# 
# !! Do not put comments in the variable lines !!!
#
# include in printer.cfg
################################################################################################

###################################################
[mcu rpi]                   # RaspberryPi
serial: /tmp/klipper_host_mcu
# Needed to access the RPI header GPIO pins. For SKIPR GPIO Pins (IO & ADXL)


###################################################
[mcu]                       # SKIPR Mainboard CAN interface uuid
canbus_uuid:e718d4677a2f
   #eryone notes:
   #   serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_2C003B001250314335393520-if00
  #   serial: /dev/ttyS0
  #   restart_method: command


###################################################
# [mcu indxmcu]             # INDX SmartToolehad
# --> See indx-smarttoolhead_configuration.cfg


###################################################
[mcu sensor_hub]            # RaspberryPiw
serial: /dev/serial/by-id/usb-Klipper_rp2350_XXXXXXXX-if00
# ls /dev/serial/by-id/
