################################################################################################
# File: canuid.cfg
# Author: Eryone
# Date: 20250527
# purpose: CAN-Bus configuration
# 
# !! Do not put comments in the variable lines !!!
#
# include in printer.cfg
################################################################################################


################################################################################################
# CAN Bus Configuration
################################################################################################
# [mcu]                       # SKIPR Mainboard CAN interface uuid
# canbus_uuid:e718d4677a2f
#     #eryone notes:
#     #   serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_2C003B001250314335393520-if00
#     #   serial: /dev/ttyS0
#     #   restart_method: command

# [mcu indxmcu]
# --> See indx.cfg

# [mcu EECAN]                 # Eryone toolhard board CAN interface uuid
# canbus_uuid:972e3df7498c
# #serial: /dev/serial/by-id/usb-Klipper_rp2040_A598429412907258-if00     # maybe a test by eryone to connect RP2040 via USB (by Eryone)

[mcu rpi]
serial: /tmp/klipper_host_mcu
# Needed to access the RPI header GPIO pins. For SKIPR GPIO Pins (IO & ADXL)
