################################################################################################
# File: EECAN.cfg
# Author: Eryone
# Date: 20250811
# purpose: toolhead configuration
#
# Der Toolhead contains a controller board which is connected via CAN-Bus
# CAN Bus configuration in canuid.cfg file.
# 
# Toolehard board model: ??? BTT EBB SB2209 ???
# https://github.com/bigtreetech/EBB/tree/master/EBB%20SB2209%20CAN%20(RP2040)
# https://www.klipper3d.org/CANBUS.html
#
# include in printer.cfg
################################################################################################

#####################################################################
# Most connection pins of the CAN header board are defined here in the EECAN.cfg file.
# Further GIOP Pin definitions are made in the following configuration files:
#     - Filament Runout switch: runout.cfg --> [filament_switch_sensor runout] --> switch_pin: !EECAN:gpio18
#     - Z-Probe: x400.cfg --> -probe --> EECAN:gpio21
#      - X axis endstop switch: motor_driver_v1_2.cfg    


#####################################################################
# Maiboard Configuration  -  MCU EECAN 
#####################################################################
#[mcu]            # --> Eryone moved it to canuid.cfg
#[mcu EECAN]      # --> Eryone moved it to canuid.cfg


#####################################################################
# Enstop
# --> all other stepper_x configruations are in the v1_2.cfg
#####################################################################
#[stepper_x]
#endstop_pin: !EECAN:gpio11
# --> I moved it back to motor_driver_v1_2.cfg


#####################################################################
# Extruder Configuration
#####################################################################
[extruder]                          # Extruder settings (extruder & Hotend)
step_pin: EECAN:gpio5
dir_pin: !EECAN:gpio4
enable_pin: !EECAN:gpio10

rotation_distance: 12.4358          # Pully circumference in mm --> How many rotations the extruder must turn to extrude 1mm of filament
                                    # original value: 22.6789511   #Bondtech 5mm Drive Gears
                                    # Calibration step value: rotation_distance = <old rotation_distance> * <actualö extruder length> / <requested extruder length>
                                    # HowTo calibrate: DrKlipper https://youtu.be/nqGv3xfeXKA?si=Lm7A9Q4Fx8IkzTCu&t=109
                                    # Calculator: www.zerog.com
microsteps: 16
full_steps_per_rotation: 200	      # Steps per rotation (1,8° degree motor: 200; 0.9° degree motor: 400)

nozzle_diameter: 0.400              # Bozzle diameter
filament_diameter: 1.75             # Filament diameter

heater_pin: EECAN:gpio27            # Heater control pin for the extruder. PWM
sensor_pin: EECAN:gpio26            # Extruder sensor pin - Thermistor
sensor_type: Generic 3950           # Sensor model - Thermistor

# If the board voltage differs from the standard voltage.
      #adc_voltage: 3.3             # The reference voltage for the analog-to-digital converter (ADC). Only needed if a custom ADC reference voltage is used.
      #voltage_offset: 0.00         # Allows to calibrate out any offset in the measured voltage (in volts). The default is 0.
      #pullup_resistor:4700         # The value of the pullup resistor used in the voltage divider for the thermistor (in ohms).
      #inline_resistor:0            # A resistor placed in series with the thermistor (not common).

min_temp: -20                        # Minimum extruder temeprature
max_temp: 305                       # Maxiumum extruder temeprature
max_power: 1                        # maximum heater power (PWM)
min_extrude_temp: 160               # Minimum extrusion temperature (extrusion will only happen if the temeprature is reched)

# Extruder temepratures  -  The following lines are commented out due to calibration via terminal commands. Values are stored in printer.cfg. How to Calibrate See printer.cfg
      #control = pid                
      #pid_kp = 32.081              # 26.213
      #pid_ki = 1.797               # 1.304
      #pid_kd = 143.160             # 131.721

pressure_advance: 0.02              # Pressure advanced parameter
pressure_advance_smooth_time: 0.04  # Smoothin time for pressure advance (default 0.040)
max_extrude_only_distance: 250      # Sets the maximum allowed extrusion distance (in mm) for "extrude-only" moves. eg: G1 E250 without any XYZ movement. To protect the extruder and hotend from long or accidental extrusion when stationary.
max_extrude_cross_section: 20       # Limits the maximum extrusion cross-sectional volume per move, to prevent high-pressure extrusion. To avoid clogging or filament grinding caused by trying to extrude more material than the hotend can melt.
    # KAMP manual want it to be set to 5. to allow effective purging to be possible. KAMP will warn you if you forget to set this value, and skip the purge so the printer will not be halted. 
    # It is also recommended to set up firmware_retraction inside of klipper so KAMP can use the correct retraction settings for your machine. If this is not found, KAMP will warn you, and use reasonable direct-drive extruder values to complete the purge.


#####################################################################
# Extruder - Driver Configuration
#####################################################################
[tmc2209 extruder]
uart_pin: EECAN:gpio6
interpolate: false
run_current: 0.7
hold_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: EECAN: gpio7
driver_SGTHRS: 200


#####################################################################
# Fan configuration (x400.cfg & EECAN.cfg)
#####################################################################
[heater_fan hotend_fan]
    # Hotend / heatsink fan (FAN0)
    # A "heater fan" is a fan that will be enabled whenever its associated heater is active.
pin:EECAN:gpio29
max_power: 1.0                # Power the fan runs on when active. Value range: 0.0 to 1.0 (100%)
shutdown_speed: 1             # When klipper shuts down, it sets the speed of the fan to that value, instead tunring it off. Default: 0
kick_start_time: 0.5          # Sends full power for 0.5 seconds at startup the fan, even if target fan speed is lower. Helps spinning up the fans that don’t like slow starts
heater: extruder              # Which heater to watch
heater_temp: 42               # When to turn the fan on: above 42°C
fan_speed: 1.0                # When activated, the fan runs at 100% speed

#######################################
[fan]
    # This is print cooling fan. Controlled via slicer G-Code M106/M107
    # Sometimes called "part cooling fan".
    # On Eryone Thinker x400: 3x blower fans.
pin: EECAN:gpio28
max_power: 1.0
kick_start_time: 0.5
off_below: 0.10               # Tells Klipper to automatically turn the fan off completely if the fan speed drops below the specified threshold. If the fan speed is set to less than 10%, it will be treated as OFF (0) — and Klipper won’t output any PWM to the fan pin.

#[fan_generic chamber_exhaust_fan]    # moved to chamber_temp_mgmt.cfg (by andreas)


#####################################################################
# ADXL345 - Acceleration sensor configuration (for input shaping)
# --> Input Shaping is configured in the x400.cfg file.
#####################################################################
[adxl345]
cs_pin: EECAN:gpio13
spi_software_sclk_pin: EECAN:gpio14
spi_software_mosi_pin: EECAN:gpio15
spi_software_miso_pin: EECAN:gpio12


################################################################################################
# Z probe - piezzo sensor controller -  reset pin configuration
################################################################################################
[output_pin reset_probe]        # Z-Probe: re-zero the probe
pin:EECAN:gpio0                 # Define the PIN
pwm:False                       # Disable PWM (pulse width modulation). This means the pin operates in binary (on/off) mode.
value:1                         # Set the default state of the pin, when klipper starts to HIGH (1)

##############################################################
[output_pin rt_probe_adc]       # Z-Probe: Reset, re-initiate and re-ziro the probe
pin:EECAN:gpio2                 # Define the PIN
pwm:False                       # Disable PWM (pulse width modulation). This means the pin operates in binary (on/off) mode.
value:1                         # Set the default state of the pin, when klipper starts to HIGH (1)


#####################################################################
# Z height probe configuration
#####################################################################
[probe]
pin: EECAN:gpio21               # Pin wehre the Probe sensor is connected to
                                # Trigger output → STM32G030 sets PA4 HIGH on a valid impulse (~8000 counts above baseline with checks); Klipper reads that as the probe hit.
x_offset: 0                     # Offset of the probe from the Nozzle (distance). Here nozzle is the probe.
y_offset: 0                     # s.o.
#z_offset: 0                    # Z_Offset - The line is commented out due to calibration via TERMINAL COMMANDS. The value is stored in printer.cfg. How to Calibrate See printer.cfg
speed: 1.5                      # probing speed of z axis (in mm/s). Default: 5
samples: 2                      # how often the probe is repeated per probe point
samples_result: median          # How the indivudual values will pe processed. "median" uses the average of the measured values (other option: lowest, highest)
sample_retract_dist: 3          # Retraction in mm of the Z axis before probing again
samples_tolerance: 0.05         # If probe samples differ by more than (eg. 0.05 mm) repeat the measurement
samples_tolerance_retries: 5    # Maximum repetition of the mearument wehn tolerance was too big (E3D: 1)
lift_speed: 10                  # by E3D

# Prevent probing with a nozzle hotter than 150°C. To protect printbed (added by Andreas)
# based on: https://github.com/VoronDesign/Voron-Tap/blob/main/config/tap_klipper_instructions.md
# based on: https://cdn.shopify.com/s/files/1/0259/1948/8059/files/Klipper_Configuration.cpp?v=1719234805
activate_gcode:
    G4 P200                                             # Wait 200ms

    {% set HOMING_STEPPER_Z_RUN_CURRENT = (printer.save_variables.variables.andreas_homing_stepper_z_run_current|default(0.49))|float %}
  
    # Reduce current on Stepper-Motors
    SET_TMC_CURRENT STEPPER=stepper_z CURRENT={HOMING_STEPPER_Z_RUN_CURRENT}      # Set stepper motor current to 0.4mA
    SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT={HOMING_STEPPER_Z_RUN_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_z2 CURRENT={HOMING_STEPPER_Z_RUN_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_z3 CURRENT={HOMING_STEPPER_Z_RUN_CURRENT}
    

    # This G-code will allow to probe cold, but will also prevent from probing with a nozzle at printing temperature (preserve build surface).
    # ::: by Voron ::: https://github.com/VoronDesign/Voron-Tap/blob/main/config/tap_klipper_instructions.md
    {% set NOZZLE_TEMP_PROBING = (printer.save_variables.variables.andreas_nozzle_probing_temp|default(150))|int %}
    {% set NOZZLE_TEMP_PROBING_MAX = NOZZLE_TEMP_PROBING + 5 %}
    #{% set ACTUAL_NOZZLE_TEMP = printer.extruder.temperature %}
    {% set NOZZLE_TEMP_TARGET_ORIGINAL = printer.extruder.target %}

    # replaced with M109 command below (by andreas)
    #{% if printer.extruder.target > NOZZLE_TEMP_PROBING %}   # If extruder target tempearute higher than maximum probing temperature
    #    { action_respond_info('Reset current extruder temperature from %.1fC to %.1fC' % (printer.extruder.target, NOZZLE_TEMP_PROBING)) }
    #    #M104 S{ NOZZLE_TEMP_PROBING }        # Set extruder temperature
    #    M109 S{ NOZZLE_TEMP_PROBING }        # Set extruder temperature
    #{% endif %}

    M109 S{ NOZZLE_TEMP_PROBING }        # Set extruder temperature and wait.   # Soften leftover material on nozzle. Avoid wron Z height calibration.

    {% if printer.extruder.temperature > NOZZLE_TEMP_PROBING_MAX %}     # If nozzle may still be too hot
        { action_respond_info('Extruder temperature %.1fC is too high, waiting until below %.1fC' % (printer.extruder.temperature, NOZZLE_TEMP_PROBING_MAX)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ NOZZLE_TEMP_PROBING_MAX }   # Wait until nozzle temperature reached
    {% endif %}

    
deactivate_gcode:
    # Will be exected after every probe. When hominx Z probing will be executed twice. So this deactivate_gcode will be executed between the two probings.

    {% set run_current_z = printer.configfile.config['tmc2209 stepper_z'].run_current | float %}        # Get run current from [tmc2209 stepper_z]
    {% set run_current_z1 = printer.configfile.config['tmc2209 stepper_z1'].run_current | float %}
    {% set run_current_z2 = printer.configfile.config['tmc2209 stepper_z2'].run_current | float %}
    {% set run_current_z3 = printer.configfile.config['tmc2209 stepper_z3'].run_current | float %}
    
    # Set back current on Stepper-Motors
    SET_TMC_CURRENT STEPPER=stepper_z CURRENT={run_current_z}     # Set stepper motor back to run current defined in [tmc2209 stepper_z]
    SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT={run_current_z1}
    SET_TMC_CURRENT STEPPER=stepper_z2 CURRENT={run_current_z2}
    SET_TMC_CURRENT STEPPER=stepper_z3 CURRENT={run_current_z3}

    # Reset Nozzle temp (by andreas)
    {% set NOZZLE_TEMP_TARGET_ORIGINAL = 0 %}   # ??? !!! How to get variable from active_gcode?
    #M104 S{ NOZZLE_TEMP_TARGET_ORIGINAL }     # Set extruder temperature
