################################################################################################
# File: fan_mgmt.cfg
# Author: Andreas
# Date: 2026009112
# purpose: Fan Management
#
#
#
# Content:
#   _chamber_exhaust_fan_off
#   _electronics_bay_fan_off
#
#
# include in printer.cfg
################################################################################################


################################################################################################
# Fan off delay
################################################################################################
[delayed_gcode _chamber_exhaust_fan_off]
# Description:  The fan will turn off after the provided amount of time
    # HowTo call: UPDATE_DELAYED_GCODE ID=chamber_exhaust_fan_off DURATION=300    # Schedule chamber exhaust fan to turn off after 5 minutes (300s)
gcode:
    SET_FAN_SPEED FAN=chamber_exhaust_fan SPEED=0

#####################################
[delayed_gcode _electronics_bay_fan_off]
# Description: The fan will turn off after the provided amount of time
    # HowTo call: UPDATE_DELAYED_GCODE ID=electronics_bay_fan_off DURATION=300    # Schedule electronics bay fan to turn off after 5 minutes (300s)
gcode:
    SET_FAN_SPEED FAN=electronics_bay_fan SPEED=0
