  ################################################################################################
# File: filament_mgmt_SFS.cfg
# Author: Andreas
# Date: 20260831
# purpose: Filament Handling: Runout & Tabgle detection
# 
# include in printer.cfg
################################################################################################

###############################################################################################
# ToDo
################################################################################################
# - Unload Filament
# - Load Filament
# - Reset after Tange
# - Reset after Runout



################################################################################################
# Set Active Sensors
################################################################################################
[gcode_macro _SET_ACTIVE_SENSORS]
gcode:
    {% set target_tool = params.TOOL|int %}
    
    # 1. Broadly disable ALL 10 sensor pairs first to clear the deck
    SET_FILAMENT_SENSOR SENSOR=runout_T0 ENABLE=0
    SET_FILAMENT_SENSOR SENSOR=tangle_T0 ENABLE=0
    SET_FILAMENT_SENSOR SENSOR=runout_T1 ENABLE=0
    SET_FILAMENT_SENSOR SENSOR=tangle_T1 ENABLE=0
    SET_FILAMENT_SENSOR SENSOR=runout_T2 ENABLE=0
    SET_FILAMENT_SENSOR SENSOR=tangle_T2 ENABLE=0
    SET_FILAMENT_SENSOR SENSOR=runout_T3 ENABLE=0
    SET_FILAMENT_SENSOR SENSOR=tangle_T3 ENABLE=0
    SET_FILAMENT_SENSOR SENSOR=runout_T4 ENABLE=0
    SET_FILAMENT_SENSOR SENSOR=tangle_T4 ENABLE=0
    SET_FILAMENT_SENSOR SENSOR=runout_T5 ENABLE=0
    SET_FILAMENT_SENSOR SENSOR=tangle_T5 ENABLE=0
    SET_FILAMENT_SENSOR SENSOR=runout_T6 ENABLE=0
    SET_FILAMENT_SENSOR SENSOR=tangle_T6 ENABLE=0
    SET_FILAMENT_SENSOR SENSOR=runout_T7 ENABLE=0
    SET_FILAMENT_SENSOR SENSOR=tangle_T7 ENABLE=0
    SET_FILAMENT_SENSOR SENSOR=runout_T8 ENABLE=0
    SET_FILAMENT_SENSOR SENSOR=tangle_T8 ENABLE=0
    SET_FILAMENT_SENSOR SENSOR=runout_T9 ENABLE=0
    SET_FILAMENT_SENSOR SENSOR=tangle_T9 ENABLE=0
    SET_FILAMENT_SENSOR SENSOR=runout_T10 ENABLE=0
    SET_FILAMENT_SENSOR SENSOR=tangle_T10 ENABLE=0
    SET_FILAMENT_SENSOR SENSOR=runout_T11 ENABLE=0
    SET_FILAMENT_SENSOR SENSOR=tangle_T11 ENABLE=0

    # 2. Dynamically enable ONLY the pair matching the newly picked up tool
    {% if target_tool == 0 %}
        SET_FILAMENT_SENSOR SENSOR=runout_T0 ENABLE=1
        SET_FILAMENT_SENSOR SENSOR=tangle_T0 ENABLE=1
    {% elif target_tool == 1 %}
        SET_FILAMENT_SENSOR SENSOR=runout_T1 ENABLE=1
        SET_FILAMENT_SENSOR SENSOR=tangle_T1 ENABLE=1
   {% elif target_tool == 2 %}
        SET_FILAMENT_SENSOR SENSOR=runout_T2 ENABLE=1
        SET_FILAMENT_SENSOR SENSOR=tangle_T2 ENABLE=1
    {% elif target_tool == 3 %}
        SET_FILAMENT_SENSOR SENSOR=runout_T3 ENABLE=1
        SET_FILAMENT_SENSOR SENSOR=tangle_T3 ENABLE=1
    {% elif target_tool == 4 %}
        SET_FILAMENT_SENSOR SENSOR=runout_T4 ENABLE=1
        SET_FILAMENT_SENSOR SENSOR=tangle_T4 ENABLE=1
    {% elif target_tool == 5 %}
        SET_FILAMENT_SENSOR SENSOR=runout_T5 ENABLE=1
        SET_FILAMENT_SENSOR SENSOR=tangle_T5 ENABLE=1
    {% elif target_tool == 6 %}
        SET_FILAMENT_SENSOR SENSOR=runout_T6 ENABLE=1
        SET_FILAMENT_SENSOR SENSOR=tangle_T6 ENABLE=1
    {% elif target_tool == 7 %}
        SET_FILAMENT_SENSOR SENSOR=runout_T7 ENABLE=1
        SET_FILAMENT_SENSOR SENSOR=tangle_T7 ENABLE=1
    {% elif target_tool == 8 %}
        SET_FILAMENT_SENSOR SENSOR=runout_T8 ENABLE=1
        SET_FILAMENT_SENSOR SENSOR=tangle_T8 ENABLE=1
    {% elif target_tool == 9 %}
        SET_FILAMENT_SENSOR SENSOR=runout_T9 ENABLE=1
        SET_FILAMENT_SENSOR SENSOR=tangle_T9 ENABLE=1
      {% elif target_tool == 9 %}
        SET_FILAMENT_SENSOR SENSOR=runout_T10 ENABLE=1
        SET_FILAMENT_SENSOR SENSOR=tangle_T10 ENABLE=1
      {% elif target_tool == 9 %}
        SET_FILAMENT_SENSOR SENSOR=runout_T11 ENABLE=1
        SET_FILAMENT_SENSOR SENSOR=tangle_T11 ENABLE=1
    {% endif %}





################################################################################################
# Sensor definition
################################################################################################

# ==========================================
# TOOL 0 SENSORS (GP0, GP1)
# ==========================================
[filament_switch_sensor runout_T0]
# runout = switch_sensor
switch_pin: ^sensor_hub:gpio0     # Pin for T0 runout switch
pause_on_runout: True
runout_gcode:
#  PAUSE # [pause_resume] is required in printer.cfg
  M117 Tool 0: Filament runout detected!
insert_gcode:
  M117 Tool 0: Filament inserted.
enabled: False                    # If you do not set this to False by default, your printer will lock down and refuse to print the moment you turn it on.

# The Multi-Tool Conflict: With 10 passive INDX tools, you have 9 idle sensors sitting with no filament in them while 1 active tool is printing. If you use BigTreeTech’s raw code, the moment Klipper boots up, it looks at the 9 empty sensors, sees that they are untriggered, and fires the runout_gcode: PAUSE loop instantly—locking your printer down before a print can even begin.
# How pause_on_runout: True Solves It: By pairing pause_on_runout: True with the SET_FILAMENT_SENSOR ENABLE=0 logic inside the dynamic toolchanging macros we discussed earlier, Klipper completely ignores the hardware state of the 9 parked tools. It forces Klipper's internal engine to only listen to the automated pause routines of the one single sensor set that matches your currently active tool head.


[filament_motion_sensor tangle_T0]
# tangel = encoder_sensor
switch_pin: ^sensor_hub:gpio1     # Pin for T0 encoder wheel
extruder: extruder                # All tools share the single moving extruder
detection_length: 7.0             # Default: 2,.88 - High accuracy. Due to friction may cause pahntom pauses during large print.
pause_on_runout: True
runout_gcode:
#  PAUSE # [pause_resume] is required in printer.cfg
  M117 Tool 0: Spool Tangel or Nozzle Clog detected!
#insert_gcode:                   # Klipper isn't monitoring the encoder while the printer is paused or idle, it can never register a standalone "insertion" event on a motion sensor. Therefore, adding an insert_gcode to a motion sensor does absolutely nothing—the firmware will simply ignore it.
#  M117 Filament encoder inserted
enabled: False


# ==========================================
# TOOL 1 SENSORS (GP2, GP3)
# ==========================================
[filament_switch_sensor runout_T1]
switch_pin: ^sensor_hub:gpio2
pause_on_runout: True
runout_gcode: M117 Tool 1: Filament Runout!
insert_gcode: M117 Tool 1: Filament Loaded.
enabled: False

[filament_motion_sensor tangle_T1]
switch_pin: ^sensor_hub:gpio3
extruder: extruder
detection_length: 7.0
pause_on_runout: True
runout_gcode: M117 Tool 1: Tangle/Clog!
enabled: False

# ==========================================
# TOOL 2 SENSORS (GP4, GP5)
# ==========================================
[filament_switch_sensor runout_T2]
switch_pin: ^sensor_hub:gpio4
pause_on_runout: True
runout_gcode: M117 Tool 2: Filament Runout!
insert_gcode: M117 Tool 2: Filament Loaded.
enabled: False

[filament_motion_sensor tangle_T2]
switch_pin: ^sensor_hub:gpio5
extruder: extruder
detection_length: 7.0
pause_on_runout: True
runout_gcode: M117 Tool 2: Tangle/Clog!
enabled: False

# ==========================================
# TOOL 3 SENSORS (GP6, GP7)
# ==========================================
[filament_switch_sensor runout_T3]
switch_pin: ^sensor_hub:gpio6
pause_on_runout: True
runout_gcode: M117 Tool 3: Filament Runout!
insert_gcode: M117 Tool 3: Filament Loaded.
enabled: False

[filament_motion_sensor tangle_T3]
switch_pin: ^sensor_hub:gpio7
extruder: extruder
detection_length: 7.0
pause_on_runout: True
runout_gcode: M117 Tool 3: Tangle/Clog!
enabled: False

# ==========================================
# TOOL 4 SENSORS (GP8, GP9)
# ==========================================
[filament_switch_sensor runout_T4]
switch_pin: ^sensor_hub:gpio8
pause_on_runout: True
runout_gcode: M117 Tool 4: Filament Runout!
insert_gcode: M117 Tool 4: Filament Loaded.
enabled: False

[filament_motion_sensor tangle_T4]
switch_pin: ^sensor_hub:gpio9
extruder: extruder
detection_length: 7.0
pause_on_runout: True
runout_gcode: M117 Tool 4: Tangle/Clog!
enabled: False

# ==========================================
# TOOL 5 SENSORS (GP10, GP11)
# ==========================================
[filament_switch_sensor runout_T5]
switch_pin: ^sensor_hub:gpio10
pause_on_runout: True
runout_gcode: M117 Tool 5: Filament Runout!
insert_gcode: M117 Tool 5: Filament Loaded.
enabled: False

[filament_motion_sensor tangle_T5]
switch_pin: ^sensor_hub:gpio11
extruder: extruder
detection_length: 7.0
pause_on_runout: True
runout_gcode: M117 Tool 5: Tangle/Clog!
enabled: False

# ==========================================
# TOOL 6 SENSORS (GP12, GP13)
# ==========================================
[filament_switch_sensor runout_T6]
switch_pin: ^sensor_hub:gpio12
pause_on_runout: True
runout_gcode: M117 Tool 6: Filament Runout!
insert_gcode: M117 Tool 6: Filament Loaded.
enabled: False

[filament_motion_sensor tangle_T6]
switch_pin: ^sensor_hub:gpio13
extruder: extruder
detection_length: 7.0
pause_on_runout: True
runout_gcode: M117 Tool 6: Tangle/Clog!
enabled: False

# ==========================================
# TOOL 7 SENSORS (GP14, GP15)
# ==========================================
[filament_switch_sensor runout_T7]
switch_pin: ^sensor_hub:gpio14
pause_on_runout: True
runout_gcode: M117 Tool 7: Filament Runout!
insert_gcode: M117 Tool 7: Filament Loaded.
enabled: False

[filament_motion_sensor tangle_T7]
switch_pin: ^sensor_hub:gpio15
extruder: extruder
detection_length: 7.0
pause_on_runout: True
runout_gcode: M117 Tool 7: Tangle/Clog!
enabled: False

# ==========================================
# TOOL 8 SENSORS (GP16, GP17)
# ==========================================
[filament_switch_sensor runout_T8]
switch_pin: ^sensor_hub:gpio16
pause_on_runout: True
runout_gcode: M117 Tool 8: Filament Runout!
insert_gcode: M117 Tool 8: Filament Loaded.
enabled: False

[filament_motion_sensor tangle_T8]
switch_pin: ^sensor_hub:gpio17
extruder: extruder
detection_length: 7.0
pause_on_runout: True
runout_gcode: M117 Tool 8: Tangle/Clog!
enabled: False

# ==========================================
# TOOL 9 SENSORS (GP18, GP19)
# ==========================================
[filament_switch_sensor runout_T8]
switch_pin: ^sensor_hub:gpio18
pause_on_runout: True
runout_gcode: M117 Tool 9: Filament Runout!
insert_gcode: M117 Tool 9: Filament Loaded.
enabled: False

[filament_motion_sensor tangle_T9]
switch_pin: ^sensor_hub:gpio19
extruder: extruder
detection_length: 7.0
pause_on_runout: True
runout_gcode: M117 Tool 9: Tangle/Clog!
enabled: False

# ==========================================
# TOOL 10 SENSORS (GP20, GP21)
# ==========================================
[filament_switch_sensor runout_T10]
switch_pin: ^sensor_hub:gpio20
pause_on_runout: True
runout_gcode: M117 Tool 9: Filament Runout!
insert_gcode: M117 Tool 9: Filament Loaded.
enabled: False

[filament_motion_sensor tangle_T10]
switch_pin: ^sensor_hub:gpio21
extruder: extruder
detection_length: 7.0
pause_on_runout: True
runout_gcode: M117 Tool 9: Tangle/Clog!
enabled: False

# ==========================================
# TOOL 11 SENSORS (GP22, GP26)
# ==========================================
[filament_switch_sensor runout_T10]
switch_pin: ^sensor_hub:gpio22
pause_on_runout: True
runout_gcode: M117 Tool 9: Filament Runout!
insert_gcode: M117 Tool 9: Filament Loaded.
enabled: False

[filament_motion_sensor tangle_T10]
switch_pin: ^sensor_hub:gpio26
extruder: extruder
detection_length: 7.0
pause_on_runout: True
runout_gcode: M117 Tool 9: Tangle/Clog!
enabled: False