################################################################################################
# File: gantry_motor_driver.cfg
# Author: Eryone / Modified by Andreas
# Date: 20250820
# purpose: Stepper motor & driver configuration
# 
# include in printer.cfg
################################################################################################
# v1_1.cfg and v1_2.cfg (by eryone)
# Eryone created two version of the file. 1.1 and 1.2
#
#   Differences:
#        v1_1
#           has lower run_current and hold current values
#           has for all stepper motors the same values
#       v1_2
#           has higher run_current and hold_current values
#           Values differ between X,Y stepper motors and Z stepper motors.
#
# Where are they included:
#   Frimware image fom gdirve x400_20250527.img (May 2025):
#       mks/printer_data/conf/printer.cfg       --> v1_1 is included
#       mks/KlipperScreen/config/printer.cfg    --> v1_2 is included
#   GutHub files as of 20250807
#       config/printer.cfg       --> v1_1 is included
#   Gitclone: v1_1 & v1_2
#       https://gitcode.com/xpp012/KlipperScreen/blob/master/config/v1_2.cfg
#
#################################################################################################



################################################################################################
# stepper motor configuration
################################################################################################

[stepper_x]
step_pin: PC14                  # Step pin for stepper motor
dir_pin: PC13                   # Direction pin for stpper motor. Add a "!" to reverte the direction (!PC13).
enable_pin: !PC15               # Enable pin for stepper motor. Add a "!" to reverte the direction. Controll the activation of the stepper motor. When motor is on, it holds the position. If off, then the steppermotor can be moved by hand
microsteps: 16                  # Microstep setting. Higher values improve quality but increase controller laod.
rotation_distance: 40           # Pulley circumference in mm (2GT-200T: 40 mm, 2GT-16T: 32 mm)
                                #   Needs to calculated. For a belted coreXY system:  eg: 40 = 2mm belt ptuch times () * 20 tooth pulley ()
full_steps_per_rotation: 200    # Steps per rotation (1,8° degree motor: 200; 0.9° degree motor: 400)
endstop_pin: indxmcu:endstop    # Endstop switch of the x axis. It is mounted on the toolhead.
    # Invertieren mit "!" ???
position_min: 0                 # Minimum valid distance the user may command the stepper to move to (in mm).  Default: 0
                                # chatGPT: Minimum soft limit in mm. Can be set to -10, if Endstop is outside of the bed. Postion 0-0 is on front left.
position_endstop: 400           # Location of the endstop (in mm)   # chatGPT: Maximum soft limit in mm. Must be between postion_min and postion_max
position_max: 400               # Maximum valid distance the user may command the stepper to move to (in mm).   # chatGPT: Maximum mechanical limit in mm.  
homing_speed: 50                # Maximum velocity of the stepper when homing (in mm/s) (max 100). Default: 5.0
homing_retract_dist: 5          # Retraction distance after the first endstop trigger (in mm). Default: 5
#homing_positive_dir: True      # If true, homing will cause the stepper to move in a positive direction (away from zero); If false, home towards zero.
                                # ! It is better to use the default than to specify this parameter. Default: True if position_endstop is near position_max and False if near position_min.
step_pulse_duration: 0.000008   # The minimum time between the step pulse signal edge and the following "unstep" signal edge.
                                # This is also used to set the minimum time between a step pulse and a direction change signal.
                                # Default: 0.000000100 (100ns) for TMC steppers that are configured in UART or SPI mode.

#################################################################
[stepper_y]
step_pin: PE5
dir_pin: PE4
enable_pin: !PD14
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: !PA15
position_min: 0
position_endstop: 400
position_max: 400
homing_speed: 50
homing_retract_dist: 5
#homing_positive_dir: True
step_pulse_duration: 0.000008

#################################################################
[stepper_z]
    # Slot on SKIPR is labeled as Z1-MOTOR1/Z1-MOTOR2
step_pin: PE1
dir_pin: PE0
enable_pin: !PE2
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
gear_ratio: 16:1                # The gear ratio if the stepper motor is connected to the axis via a gearbox.
                                # If a gear_ratio is specified then rotation_distance specifies the distance the axis travels for one full rotation of the final gear.
#endstop_pin: tmc2209_stepper_z:virtual_endstop     # Uses TMC2209 StallGuard funtion for sensorless homing on the Z axis (deactivated by eryone)
endstop_pin: probe:z_virtual_endstop                # Uses the result of a Z probe to defin the endsop position (not a physical enstop switch connected to a pin)
                                                    # Configuration of the Z probe and the PIN is done in EECAN.cfg [probe] section: "pin: EECAN:gpio21"
                                                    # Eryone: PB12 for Z-max; endstop have '!' is NO (comment by eryone)
        # Grok: Kommt beim Start die Meldung, dass probe:z_virtual_endstop nicht geht: dann einen ungenutzten Pin der Hauptplatine eintragen. Z wird dann über das INDX-Homing-Macro getastet, nicht über diesen Pin.
#position_endstop: 0
position_min: -5            # Minimum valid distance (in mm) the user may command the stepper to move to. Default: 0
                            # Set to -5 for nozzle cleaning (by eryone)
position_max: 410           # Maximum valid distance (in mm) the user may command the stepper to move to.
homing_speed: 5.0           # Maximum velocity (in mm/s) of the stepper when homing. Default: 5
second_homing_speed: 2      # Velocity (in mm/s) of the stepper when performing the second home. Default: homing_speed/2
homing_retract_dist: 5.0    # Distance to backoff (in mm) before homing a second time during homing. Set this to zero to disable the second home. Default: 5

#################################################################
[stepper_z1]
    # Uses slot on SKIPR labeled E0-MOTOR. Extruder is connected to toolhead board.
step_pin: PB5
dir_pin: !PB4
enable_pin: !PB6
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
gear_ratio: 16:1

#################################################################
[stepper_z2]
    # Slot on SKIPR is labeled as Z2-MOTOR
step_pin: PD6
dir_pin: PD5
enable_pin: !PD7
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
gear_ratio: 16:1

#################################################################
[stepper_z3]
    # Slot on SKIPR is labeled as Z3-MOTOR
step_pin: PD2
dir_pin: !PD1
enable_pin: !PD3
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200
gear_ratio: 16:1

#################################################################
#[stepper_xx]
    # Slot on SKIPR is labeled as Z4-MOTOR
# Slot is not used on Thinker X400

#################################################################
#[extruder]
    # Extruder is connected to toolhead board.
# Configuration of extruder is in EECAN.cfg




################################################################################################
# Driver Configuration - TMC is using UART
################################################################################################
[tmc2209 stepper_x]
uart_pin: PE6               # UART port pon definition. Communication with the TMC stepper motor driver. eg. current (A)
interpolate: True           # Enable 256 microstep interpolation (true = enabled, false = diabled)
run_current: 1.4            # Motor running current (unit: mA). Run current should be 40-60% of the current of the stepper motor data sheet. Calculate with www.zerog.one (DrKlipper)
hold_current: 0.8           # Motor holding current (unit: mA)
sense_resistor: 0.110       # Driver sampling resistor. Do not change

#################################################################
[tmc2209 stepper_y]
uart_pin: PE3
interpolate: True 
run_current: 1.4
hold_current: 0.8
sense_resistor: 0.110

#################################################################
[tmc2209 stepper_z]
uart_pin: PB7
interpolate: True
run_current: 1.0
hold_current: 0.6
stealthchop_threshold: 0    # Silent mode thresehold. Set to 0 if silent mode is not needed. 200 seems to be a good value (DrKlipper)
#diag_pin: PB15             # Use the same pin that was previously the endstop_pin! (by eryone)
                            # deactivated it. Reason: was declared twice. Here as diag_pin and as Tangle sensor pin in runout.cfg [filament_switch_sensor runout] (Andreas)
#driver_SGTHRS: 180         # StallGuard is a sensorless load measurement feature inside TMC2209 stepper driver. It detects when the stepper motor is not moving anymore.
                            # The driver monitors motor load/current and can trigger a "virtual endstop" when it detects a stall (no more movement because the axis hit something).
                            # Normally used for sensorless homing. # [stepper_z] endstop_pin: tmc2209_stepper_z:virtual_endstop
                            # 255 is most sensitive value (stall triggers earlier), 0 is least sensitive (stall triggers only on heavier load)

#################################################################
[tmc2209 stepper_z1]
    # Uses slot on SKIPR labeled E0-MOTOR. Extruder is connected to toolhead board.
uart_pin: PB3
interpolate: True
run_current: 1.0
hold_current: 0.6
stealthchop_threshold: 0

#################################################################
[tmc2209 stepper_z2]
uart_pin: PD4
interpolate: True
run_current: 1.0
hold_current: 0.6
stealthchop_threshold: 0

#################################################################
[tmc2209 stepper_z3]
uart_pin: PD0
interpolate: True
run_current: 1.0
hold_current: 0.6
stealthchop_threshold: 0

#################################################################
#[tmc2209 stepper_xx]
        # Slot on SKIPR is labeled as Z4-MOTOR
# Slot is not used on Thinker X400

#################################################################
#[tmc2209 extruder]
# Extruder is connected to toolhead baard.
