################################################################################################
# File: macros_printer.cfg
# Author: Andreas
# Date: 20251005
# purpose: Macros for printer operations
#
# include in printer.cfg
################################################################################################


################################################################################################
# Pause/Resume, Filament Swaps & Sensors
# source: https://ellis3dp.com/Print-Tuning-Guide/articles/useful_macros/pause_resume_filament.html
################################################################################################
#
#
#
#
#
#
#


################################################################################################
# Linux Update
################################################################################################
[gcode_shell_command sc_linux-update]
#description: Execute command to update linux Linux
command: sudo apt-get update
command: sudo apt-get upgrade -y


[gcode_macro linux_update]
description: Call gcode_shell command to update Linux
gcode:
    {action_respond_info("🔄 Update Linux...")}
    RUN_SHELL_COMMAND CMD=sc_linux_update


################################################################################################
# X400-software-pack call copy_config.sh 
################################################################################################
[gcode_shell_command sc_XPS_download]
# description: Execute command to download x400-software-pack from repo
command: ~/x400-software-pack/scripts/download_x400-software-pack.sh
# GITs post-merge hook is executed which calls the custom script /git-hooks/post-merge.sh, which executes /scripts/copy_configs.sh --auto.
# So XPS is also installed

[gcode_shell_command sc_XSP_install]
# description: Execute command to copy configs of x400-software-pack
command: ~/x400-software-pack/scripts/copy_configs.sh --auto

[gcode_shell_command sc_XSP_download_and_install]
# description: Execute command to copy configs of x400-software-pack
command: ~/x400-software-pack/scripts/download_x400-software-pack.sh
# command: /bin/bash -lc "~/x400-software-pack/scripts/download_x400-software-pack.sh && ~/x400-software-pack/scripts/copy_configs.sh --auto"
#   Calling copy_config.sh is not needed. GITs post-merge hook is executed which calls the custom script /git-hooks/post-merge.sh, which executes /scripts/copy_configs.sh --auto.

[gcode_macro XPS_install]
description: Install the software pack (aka copy_configs.sh)
gcode:
    {action_respond_info("🔄 Installing x400-software-pack...")}
    RUN_SHELL_COMMAND CMD=sc_XSP_install


[gcode_macro XPS_downlad_and_install]
description: Downlaod and install the software pack (aka download_x400-software-pack.sh & copy_configs.sh)
gcode:
    {action_respond_info("🔄 Download and Install x400-software-pack...")}
    RUN_SHELL_COMMAND CMD=sc_XSP_download_and_install


################################################################################################
# M109 & M190 replacement
################################################################################################
[gcode_macro M109]
description: Replace M109 (wait for hotend temperature) with TEMPERATURE_WAIT.
#This just makes Klipper resume immediately after reaching temp. Otherwise it waits for the temperature to stabilize.
# source: https://ellis3dp.com/Print-Tuning-Guide/articles/useful_macros/replace_m109_m190_with_temp_wait.html
rename_existing: M99109
gcode:
    #Parameters
    {% set s = params.S|float %}
    
    M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}  ; Set hotend temp.
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s} MAXIMUM={s+1}   ; Wait for hotend temp (within 1 degree)
    {% endif %}

#############################################################
[gcode_macro M190]
description: Replace M190 (wait for bed temperature) with TEMPERATURE_WAIT.
## This just makes Klipper resume immediately after reaching temp. Otherwise it waits for the temperature to stabilize.
# !!! Warning: If you are using "bed fan macros" (https://github.com/VoronDesign/VoronUsers/tree/main/printer_mods/Ellis/Bed_Fans), do not use this version. Those macros include a variant of this with other essential functions.
# source: https://ellis3dp.com/Print-Tuning-Guide/articles/useful_macros/replace_m109_m190_with_temp_wait.html
rename_existing: M99190
gcode:
    #Parameters
    {% set s = params.S|float %}

    M140 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}   ; Set bed temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={s} MAXIMUM={s+1}  ; Wait for bed temp (within 1 degree)
    {% endif %}


################################################################################################
# PARK TOOLHEAD
################################################################################################
[gcode_macro PARK_TOOLHEAD]
gcode:
    {% set toolhead_parking_position_x = (printer.save_variables.variables.andreas_toolhead_parking_position_x|default(395))|int %}
    {% set toolhead_parking_position_y = (printer.save_variables.variables.andreas_toolhead_parking_position_y|default(395))|int %}
    #{% set toolhead_parking_position_z = (printer.save_variables.variables.andreas_toolhead_parking_position_z|default(50))|int %} # Riskant, wenn Bauteil in drucker

    #{% set th = printer.toolhead %}
    #G1 X{th.axis_maximum.x//2} Y{th.axis_maximum.y//2} Z30 F3600
    # axis_minimum, axis_maximum - The axis travel limits (mm) after homing. It is possible to access the x, y, z components of this limit value (eg, axis_minimum.x, axis_maximum.z)
    #G1 X{th.axis_maximum.x} Y{th.axis_maximum.y} Z30 F3600

    {% if printer.toolhead.homed_axes != "xyz" %}
        {action_raise_error("Cannot park the toolhead because axis are not homed!")}
    {% endif %}

    G1 X{toolhead_parking_position_x} Y{toolhead_parking_position_y} F3600
    #G1 X{toolhead_parking_position_x} Y{toolhead_parking_position_y} Z{toolhead_parking_position_z} F3600


#############################################################
[gcode_macro PARK_TOOLHEAD_MAINTENANCE]
gcode:
    {% set th = printer.toolhead %}
  
    {% if printer.toolhead.homed_axes != "xyz" %}
        {action_raise_error("Cannot park the toolhead because axis are not homed!")}
    {% endif %}

    G1 X{th.axis_maximum.x//2} Y{th.axis_maximum.y//4} Z100 F3600    # axis_minimum, axis_maximum - The axis travel limits (mm) after homing.

 

################################################################################################
# shutdown & off
################################################################################################
[gcode_macro SHUTDOWN]
description: Shut down host
gcode:
    SET_PIN PIN=LED VALUE=0.5                           # turn on chamber light (to show that printer is running)
    _ALL_OFF                                            # Call macro ALL_OFF to turn everyting off
    {action_respond_info('action:poweroff')}            # OctoPrint compatible host shutdown
    {action_call_remote_method("shutdown_machine")}     # Moonraker compatible host shutdown

#############################################################
[gcode_macro _ALL_OFF]
description: shortcut to turn off everything at once
gcode:
    M84                                                 # turn all stepper motors off
    TURN_OFF_HEATERS                                    # turn all heaters off (bed, hotend, chamber)

    #Wait until Extruder temp is below 42°C (this is the temperature where heater fan runs off)
    hotend_fan

    M117 Waiting until heater is cooled down befor continuing.
    { action_respond_info("Waiting until heater is cooled down befor continuing.") }
    
    # Wait until heater fan is off
    {% set max_waiting_time = 350 %}                  # 350sec = 5 min - Maximum time to wait for heater fan to turn off (in seconds)
    
    {% set continue_loop = True %}
    {% for i in range(0, max_waiting_time // 10) if continue_loop %}    # Iterate max_waiting_time / 10 times (10s per iteration) --> // integer division 305 // 10 = 35 loops
        {% if printer["controller_fan heater_fan"].speed <= 0.0 %}
            M117 Heater cold enough. Heater fan stopped ---> Continue with shutdown.
            {% set continue_loop = False %}                             # Exit loop when fan stopped
        {% else %}
            G4 P10000                                                   # Wait 10 seconds
            #M117 Waiting for heater fan to stop... ({i * 10}s elapsed)  # Debug message
        {% endif %}
        {% if i == (max_waiting_time // 10) - 1 and continue_loop %}            # ???
            M117 Timeout: Heater fan did not stop within {max_waiting_time}s.   # Debug message
        {% endif %}
    {% endfor %}

# OLD, not working:
#    {% set current_waiting_time = 0 %}
#    {% while printer["controller_fan heater_fan"].speed > 0.0 and current_waiting_time < max_waiting_time %}
#    #{% while  printer.extruder.temperature|float > printer["controller_fan hotend_fan"].heater_temp  and current_waiting_time < max_waiting_time %}         # Alternative
#        G4 P10000                                                   # Wait 10 second
#        {% set current_waiting_time = current_waiting_time + 10 %}  # Adds 10 seconds to the waiting time.
#    {% endwhile %}

    M107                                                # turn print cooling fan off
    SET_FAN_SPEED FAN=chamber_exhaust_fan SPEED=0       # turn fan off
    SET_FAN_SPEED FAN=electronics_bay_fan SPEED=0       # turn fan off
    SET_PIN PIN=LED VALUE=0                             # turn off chamber light
