################################################################################################
# File: nozzle_cleaning_and_prime.cfg
# Author: Eryone / Modified by Andreas
# Date: 202500109
# purpose: Nozzle cleaning and priming
#
# include in printer.cfg
################################################################################################


[gcode_macro _NOZZLE_WIPE_VARS]
variable_p0_x: 0
variable_p0_y: 0
variable_p1_x: 0
variable_p1_y: 0
variable_p2_x: 0
variable_p2_y: 0
variable_p3_x: 0
variable_p3_y: 0
variable_p4_x: 0
variable_p4_y: 0

variable_tol: 1.0               # Tolleranz in which the toolhead is coonsired as on position

variable_wipe_speed: 3000
variable_wipe_segments_x: 1     # Unterteilung der Strecke P3 zu P4 auf X-achse (in mm); Darf nicht 0 sein!
variable_wipe_travel_y: 10      # Fahrweg in Y-richtung (in mm)

variable_extruder_prime_travel: 4.3    # How much filament is extruded (in mm). Prusa: 13mg = 4.3mm
variable_extruder_retract_length: -0.4
gcode:


################################################################################################
[gcode_macro CALIBRATE_BUCKET_POSITION]
# Positions need to be clibrated via a script
# Poistions need to be saved in variables
gcode:
# ??? CODE HERE - Dummycode:
{% set v = printer['gcode_macro _NOZZLE_WIPE_VARS'] %}
    {% set p = params.POINT|default("")|string|lower %}
    {% set cur = printer.gcode_move.gcode_position %}
    {% if p not in ["p0","p1","p2","p3","p4"] %}
        {action_raise_error("Usage: CALIBRATE_BUCKET_POSITION POINT=P0")}
    {% endif %}
    SET_GCODE_VARIABLE MACRO=_NOZZLE_WIPE_VARS VARIABLE={p}_x VALUE={cur.x}
    SET_GCODE_VARIABLE MACRO=_NOZZLE_WIPE_VARS VARIABLE={p}_y VALUE={cur.y}
    {action_respond_info("Saved %s = %.2f, %.2f"|format(p, cur.x, cur.y))}
# Kopf per Jog auf den Punkt, dann z. B. CALIBRATE_BUCKET_POSITION POINT=P3.
# Damit es einen Restart überlebt: [save_variables] plus nach dem Setzen die Werte dort ablegen.




################################################################################################
[gcode_macro _NOZZLE_CLEAN_AND_PRIME]
# !!! This needs to be called at the end of the CHANGE_TOOL macro in indx-tc-macros.cfg  !!!
# !!! OR after every CHANGE_TOOL spearately. !!!
#
# Positions:
# P4 -------- P3
#  |           |
#  |          P2
#  |           |
# P0 -------- P1
#
# P0.x == P4.x
# P1.x == P2.x == P3.x
# P0.y == P1.y
# P3.y == P4.y
#
#   P0 - Bucket entry point
#   P1 - Bucket waiting point
#   P2 - Poop position
#   P3 - Wipe start point
#   P4 - Wipe end point / Wipe Entry point
# Alignment:
#   P3 & P4 are on the same Y-axis hieght
#   P0 & P1 anre on the same Y-axis hieght
#   P1 & P2 & P3 are on the same X-axis height
#   P0 & P4 are on the same X-axis height

gcode:
    {% set v = printer['gcode_macro _NOZZLE_WIPE_VARS'] %}

    _BUCKET_ENTRANCE_SEQUENCE_POOP
    # Command induction heater to target temp (Fast heating curve) --> This is initiated in macro CHANGE_TOOL/ICKUP_TOOL
    G1 X{v.p3_x} Y{v.p3_y}      # Travel to waste bucket waiting point - position P3 (X-axis)
    _NOZZLE_WIPE

    _BUCKET_ENTRANCE_SEQUENCE_POOP
    _PRIME
    _NOZZLE_WIPE



################################################################################################
[gcode_macro _BUCKET_ENTRANCE_SEQUENCE_POOP]
# Waste bucket entrance sequence to poop
gcode:
    {% set v = printer['gcode_macro _NOZZLE_WIPE_VARS'] %}

    G90
    G1 X{v.p0_x} Y{v.p0_y}      # Travel to waste bucket entry point - position P0
    G1 X{v.p1_x} Y{v.p1_y}      # Travel to waste bucket waiting point - position P1 (X-axis)



[gcode_macro _BUCKET_ENTRANCE_SEQUENCE_WIPE]
# Waste bucket entrance sequence to wipe
#
# Advantages: Less travel. Faster. Not going thorugh V-shaped silicon block
# Disadvantages: Not removing debree on V-shaped silicon block
gcode:
    {% set v = printer['gcode_macro _NOZZLE_WIPE_VARS'] %}

    G90
    G1 X{v.p4_x} Y{v.p4_y}      # Travel to waste bucket entry point - position P4
    G1 X{v.p3_x} Y{v.p3_y}      # Travel to waste bucket waiting point - position P3 (X-axis)



################################################################################################
[gcode_macro _NOZZLE_WIPE]
# Wipe pattern. - toolehad needs to be on position P3, P2, P1

gcode:
    {% set v = printer['gcode_macro _NOZZLE_WIPE_VARS'] %}
    {% set cur = printer.gcode_move.gcode_position %}           # Get position of toolhead

    # Determine if toolehad is on one of the positions P3, P2, P1
    {% set on_p1 = (cur.x - v.p1_x)|abs <= v.tol and (cur.y - v.p1_y)|abs <= v.tol %}
    {% set on_p2 = (cur.x - v.p2_x)|abs <= v.tol and (cur.y - v.p2_y)|abs <= v.tol %}
    {% set on_p3 = (cur.x - v.p3_x)|abs <= v.tol and (cur.y - v.p3_y)|abs <= v.tol %}

    # Check toolhead position
    {% if on_p1 or on_p2 %}
        # If toolhead is on position P1 or P2, move it to position P3
        G90
        G1 X{v.p3_x} Y{v.p3_y} F{v.wipe_speed}
        #{% set cur = printer.gcode_move.gcode_position %}   # update variable CUR with new position # WIRKUNGSLOS, da Klipper Macro vor ausführung komplett rendert
    {% elseif on_p3 %}
        # Toolehad is on position P3 - all is fine.
    {% else %} 
        # Abort if not on position P3, P2, P1
        {action_raise_error("Wipe aborted: Toolhead not at starting position - P3, P2, P1 (expected %.2f,%.2f / got %.2f,%.2f)"|format(v.p3_x, v.p3_y, cur.x, cur.y))}
    {% endif %}

    # calculate Y-axis movements
    {% set dx = v.p4_x - v.p3_x %}
    {% set step_x = v.wipe_segments_x if dx >= 0 else -v.wipe_segments_x %}
    {% set n = (dx|abs / v.wipe_segments_x)|round(0, 'floor')|int %}

    # Wipe pattern
    G91
    {% for i in range(n) %}
        G1 Y{v.wipe_travel_y} F{v.wipe_speed}
        G1 X{step_x}
        G1 Y-{v.wipe_travel_y} F{v.wipe_speed}
    {% endfor %}

    # Wipe pattern ends at - position P4

    G90
    G1 X{v.p4_x} Y{v.p4_y} F{v.wipe_speed}      # Move toolhead to endpoint - poisition P4




################################################################################################
[gcode_macro _PRIME]
# Poop pattern - toolehad needs to be on position2, P1
gcode:
    {% set v = printer['gcode_macro _NOZZLE_WIPE_VARS'] %}
    {% set cur = printer.gcode_move.gcode_position %}           # Get position of toolhead

    # Determine if toolehad is on one of the positions P3, P2, P1
    {% set on_p1 = (cur.x - v.p1_x)|abs <= v.tol and (cur.y - v.p1_y)|abs <= v.tol %}
    {% set on_p2 = (cur.x - v.p2_x)|abs <= v.tol and (cur.y - v.p2_y)|abs <= v.tol %}

    # Check nozzle temperature
    {% if printer.extruder.temperature < printer.configfile.settings.extruder.min_extrude_temp|float %}
        {action_raise_error("Prime aborted: Nozzle too cold")}
    {% endif %}

    # Check if toolehad is on position P1. If so move toolhead to position P2
    {% if on_p1 %}
        # If toolhead is on position P1, move it to position P2
        G90
        G1 X{v.p2_x} Y{v.p2_y} F{v.wipe_speed}
        {% set cur = printer.gcode_move.gcode_position %}   # update variable CUR with new position
    {% elseif on_p2 %}
        # Toolehad is on position P2 - all is fine.
    {% else %}
        # Abort if not on position P2, P1
        {action_raise_error("Wipe aborted: Toolhead not at starting position - P2 or P1 (expected %.2f,%.2f / got %.2f,%.2f)"|format(v.p2_x, v.p2_y, cur.x, cur.y))}
    {% endif %}

    SAVE_GCODE_STATE NAME=_prime

    # Travel to the front of the V-shaped silicone block (Y-axis) - position P2
    #G90
    #G1 X{v.p2_x} Y{v.p2_y} F{v.wipe_speed}

    # Extrude a tight, pressurized filament segment ("grain of rice" waste)  # this allows backpressure to build up on the nozzle
    G91
    G1 E{v.extruder_prime_travel} F300
    G4 P200                                     # 200ms pause
    G1 E{v.extruder_retract_length} F1200       # Retract to prevent oozing

    # Move toolhead backwards through V-shaped siloicon to endpoint - poisition P3
    G90
    G1 X{v.p3_x} Y{v.p3_y} F{v.wipe_speed}      # Wipe pattern ends at - position P4

    RESTORE_GCODE_STATE NAME=_prime MOVE=0
