################################################################################################
# File: nozzle_cleaning_and_prime.cfg
# Author: Andreas
# Date: 20260905
# purpose: Nozzle cleaning and priming & bucket_calibration
#
# include in printer.cfg
################################################################################################

################################################################################################
# Infos
################################################################################################
# !!! This needs to be called at the end of the CHANGE_TOOL macro in indx-tc-macros.cfg  !!!
# !!! OR after every CHANGE_TOOL spearately. !!!
#
# Positions & Movement patterns:
#   ____      ____
#  |    |    |    |
#  |     ----     |
#  |              |
# P4 ------ P3* - P3
#  |        |
#  |        P2
#  |        |
# P0 ------ P1
#           |
#           -- P5
#
# Point defintion
#   P0 - Bucket entry point (move toolhead to this position.Then move into bucket area)
#   P1 - Bucket Prime waiting point
#   P2 - Prime/Poop position, at V-shaped silicon block
#   P3* - Prime/Poop end position.
#   P3 - Wipe start point
#   P4 - Wipe end point  &  Wipe Entry point (move toolhead to this position.Then move into bucket area)
#   P5 - Rough Camera position, for nozzle alignment (may be replaced with Eddy sensor - Prusa way of measuring)
#        Precise position is calibrated by CAL_01_SET_CAMERA_REF in indx-cal.cfg (cam_pos_x , cam_pos_y)
#
# Alignment:
#   P0.x == P4.x
#   P1.x == P2.x == P3*.x
#   P0.y == P1.y
#   P4.y == P3*.y == P3.y
# P3* is not an accutal defined point. I uses P2.x and P3.y
#   P3*.x = P2.x
#   P3*.y = P3.y
#   P5 is independen from all
#
################################################################################################

################################################################################################
# Values are stored in variables.cfg
################################################################################################
# In varibales.cfg:
#
# bucket_p2_y_to_p1_p0 = -5         # Distances from point P2 xyaxis position to P1 and P2 y-axis position
# bucket_p2_y_to_p3_p4 = 17         # Distances from point P2 y-axis position to P3 and P4 y-axis position
# bucket_p2_x_to_p0_p4 = -20        # Distances from point P2 x-axis position to P0 and P4 x-axis position
# bucket_p2_x_to_p3 = 5             # Distances from point P2 x-axis position to P3 x-axis position
# bucket_p2_x_to_p5 = 0             # Distances from point P2 x-axis position to P5 x-axis position
# bucket_p2_y_to_p5 = -50           # Distances from point P2 y-axis position to P5 y-axis position
#
# bucket_nozzle_position_tolerance = 1.0      # Tolleranz in which the toolhead is coonsired as on position
#
# nozzle__wipe_speed = 3000
#
# nozzle__wipe_segments_x = 1     # Unterteilung der Strecke P3 zu P4 auf X-achse (in mm); Darf nicht 0 sein!
# nozzle__wipe_travel_y = 10      # Fahrweg in Y-richtung (in mm)
#
# nozzle_extruder_prime_travel = 4.3                # How much filament is extruded (in mm). Prusa: 13mg = 4.3mm (in mm)
# nozzle_extruder_prime_retract_length = 0.4        # Default/Fallback: How much retration of the filament after priming (in mm)
#   Retrection length can be set for each filament / tool individually the slicer. This overrides the default value:
#       params.RETRACT
#
# Points values (set via BUCKET_CALIBRATION)
#   bucket_p0_x = 0
#   bucket_p0_y = 0
#   bucket_p1_x = 0
#   bucket_p1_y = 0
#   bucket_p2_x = 0
#   bucket_p2_y = 0
#   bucket_p3_x = 0 
#   bucket_p3_y = 0
#   bucket_p4_x = 0
#   bucket_p4_y = 0
#   bucket_p5_x = 0
#   bucket_p5_y = 0
#
################################################################################################

################################################################################################
# Move Nozzle to Camera, incl Wipe
################################################################################################
[gcode_macro MOVE_NOZZLE_TO_CAMERA]
description: Travel to presize camera position.
gcode:
    {% set sv = printer.save_variables.variables %}
    {% set feed = sv.nozzle__wipe_speed|default(3000)|float %}
    
    _BUCKET_ENTRANCE_SEQUENCE_WIPE
    _NOZZLE_WIPE
    _BUCKET_ENTRANCE_SEQUENCE_PRIME

    # cam_pos_x - is defined by CAL_01_SET_CAMERA_REF in indx-cal.cfg
    # cam_pos_y - is defined by CAL_01_SET_CAMERA_REF in indx-cal.cfg

    G90
    G1 X{sv.cam_pos_x} Y{sv.cam_pos_y} F{feed}      # Travel to presize camera position   


################################################################################################
# Calibration / Defining points P0, P1, P2, P3, P4
################################################################################################
[gcode_macro BUCKET_CALIBRATION]
description: Jog to P2, then run. Reads offsets from variables.cfg, calculates points P0, P1, P3, P4 and writes all points there.
gcode:
    RESPOND TYPE=command MSG="action:prompt_begin Bucket calibration..."
    RESPOND TYPE=command MSG="action:prompt_text Calibrate X-axis position or Y-axis position?"
    RESPOND TYPE=command MSG="action:prompt_button Y-axis|_BUCKET_CALIBRATION_SAVE_Y|primary"
    RESPOND TYPE=command MSG="action:prompt_button X-axids|_BUCKET_CALIBRATION_SAVE_X|secondary"
    RESPOND TYPE=command MSG="action:prompt_show"


[gcode_macro _BUCKET_CALIBRATION_HELPER_NO]
description: Helper macro for BUCKET_CALIBRATION
gcode:
    RESPOND TYPE=command MSG="action:prompt_end"
    {% set confirm = params.CONFIRM|default(0)|int %}

    {% set sv = printer.save_variables.variables %}
    {% set feed = sv.nozzle__wipe_speed|default(3000)|float %}

    {% if confirm != 1 %}
        RESPOND TYPE=command MSG="action:prompt_begin Position Nozzle..."
        RESPOND TYPE=command MSG="action:prompt_text Move Toolehad to Bucket Entry position P0 ?"
        RESPOND TYPE=command MSG="action:prompt_button Yes|_BUCKET_CALIBRATION_HELPER_NO CONFIRM=1|primary"
        RESPOND TYPE=command MSG="action:prompt_button No|_BUCKET_CALIBRATION_HELPER_BEYBEY|secondary"
        RESPOND TYPE=command MSG="action:prompt_show"
    {% else %}
        RESPOND TYPE=command MSG="action:prompt_end"

        G90
        G1 X{sv.bucket_p0_x} Y{sv.bucket_p0_y} F{feed}      # Travel to Waste bucket Entry point - position P0       
    {% endif %}


[gcode_macro _BUCKET_CALIBRATION_HELPER_BEYBEY]
description: Helper macro for BUCKET_CALIBRATION
gcode:
    RESPOND TYPE=command MSG="action:prompt_end"
    {action_respond_info("Beybey.")}


[gcode_macro _BUCKET_CALIBRATION_SAVE_X]
description: Saves the X-axis position. To calibrate position: Jog to toolhead into the middle of V-shaped groove of the V-shaped silicon block. And make the nozzle touch both sildes of the V.
gcode:
    RESPOND TYPE=command MSG="action:prompt_end"
    {% set confirm = params.CONFIRM|default(0)|int %}

    {% if confirm != 1 %}
        RESPOND TYPE=command MSG="action:prompt_begin Bucket calibration X-axis..."
        RESPOND TYPE=command MSG="action:prompt_text Save the X-axis position? (Nozzle is in the V-shaped silicon block)"
        RESPOND TYPE=command MSG="action:prompt_button Yes|_BUCKET_CALIBRATION_SAVE_X CONFIRM=1|primary"
        RESPOND TYPE=command MSG="action:prompt_button No|_BUCKET_CALIBRATION_HELPER_NO|secondary"
        RESPOND TYPE=command MSG="action:prompt_show"

    {% else %}
        {% set sv = printer.save_variables.variables %}
        {% set cur = printer.gcode_move.gcode_position %}

        {% set bucket_p2_y_to_p1_p0 = sv.bucket_p2_y_to_p1_p0|float %}
        {% set bucket_p2_y_to_p3_p4 = sv.bucket_p2_y_to_p3_p4|float %}
        {% set bucket_p2_x_to_p0_p4 = sv.bucket_p2_x_to_p0_p4|float %}
        {% set bucket_p2_x_to_p3 = sv.bucket_p2_x_to_p3|float %}
        {% set bucket_p2_x_to_p5 = sv.bucket_p2_x_to_p5|float %}
        {% set bucket_p2_y_to_p5 = sv.bucket_p2_y_to_p5|float %}

        {% set bucket_p2_x = cur.x|float %}
        {% set bucket_p2_y = cur.y|float %}
        {% set bucket_p1_x = bucket_p2_x %}
        {% set bucket_p1_y = bucket_p2_y + bucket_p2_y_to_p1_p0 %}
        {% set bucket_p3_x = bucket_p2_x + bucket_p2_x_to_p3 %}
        {% set bucket_p3_y = bucket_p2_y + bucket_p2_y_to_p3_p4 %}
        {% set bucket_p0_x = bucket_p2_x + bucket_p2_x_to_p0_p4 %}
        {% set bucket_p0_y = bucket_p1_y %}
        {% set bucket_p4_x = bucket_p0_x %}
        {% set bucket_p4_y = bucket_p3_y %}
        {% set bucket_p5_x = bucket_p2_x + bucket_p2_x_to_p5  %}
        {% set bucket_p5_y = bucket_p2_y + bucket_p2_y_to_p5 %}


        SAVE_VARIABLE VARIABLE=bucket_p2_x VALUE={bucket_p2_x}
        #SAVE_VARIABLE VARIABLE=bucket_p2_y VALUE={bucket_p2_y}

        SAVE_VARIABLE VARIABLE=bucket_p1_x VALUE={bucket_p1_x}
        #SAVE_VARIABLE VARIABLE=bucket_p1_y VALUE={bucket_p1_y}
        SAVE_VARIABLE VARIABLE=bucket_p3_x VALUE={bucket_p3_x}
        #SAVE_VARIABLE VARIABLE=bucket_p3_y VALUE={bucket_p3_y}

        SAVE_VARIABLE VARIABLE=bucket_p0_x VALUE={bucket_p0_x}
        #SAVE_VARIABLE VARIABLE=bucket_p0_y VALUE={bucket_p0_y}
        SAVE_VARIABLE VARIABLE=bucket_p4_x VALUE={bucket_p4_x}
        #SAVE_VARIABLE VARIABLE=bucket_p4_y VALUE={bucket_p4_y}

        SAVE_VARIABLE VARIABLE=bucket_p5_x VALUE={bucket_p5_x}
        #SAVE_VARIABLE VARIABLE=bucket_p5_y VALUE={bucket_p5_y}

        RESPOND TYPE=command MSG="action:prompt_end"

        {action_respond_info(
            "P0=%.2f  P1=%.2f  P2=%.2f  P3=%.2f  P4=%.2f P5=%.2f"|format(
                bucket_p0_x, bucket_p1_x, bucket_p2_x, bucket_p3_x, bucket_p4_x, bucket_p5_x
            )
        )}
    {% endif %}


[gcode_macro _BUCKET_CALIBRATION_SAVE_Y]
description: Saves the Y-axis position. To calibrate position: Jog to toolhead into the Prime position (Font of the V-shaped front (snail-tong)  V-shaped silicon block).
gcode:
    RESPOND TYPE=command MSG="action:prompt_end"
    {% set confirm = params.CONFIRM|default(0)|int %}

    {% if confirm != 1 %}
        RESPOND TYPE=command MSG="action:prompt_begin Bucket calibration Y-axis..."
        RESPOND TYPE=command MSG="action:prompt_text Save the Y-axis position? (Nozzle is in the V-shaped silicon block)"
        RESPOND TYPE=command MSG="action:prompt_button Yes|_BUCKET_CALIBRATION_SAVE_Y CONFIRM=1|primary"
        RESPOND TYPE=command MSG="action:prompt_button No|_BUCKET_CALIBRATION_HELPER_NO|secondary"
        RESPOND TYPE=command MSG="action:prompt_show"

    {% else %}
        {% set sv = printer.save_variables.variables %}
        {% set cur = printer.gcode_move.gcode_position %}

        {% set bucket_p2_y_to_p1_p0 = sv.bucket_p2_y_to_p1_p0|float %}
        {% set bucket_p2_y_to_p3_p4 = sv.bucket_p2_y_to_p3_p4|float %}
        {% set bucket_p2_x_to_p0_p4 = sv.bucket_p2_x_to_p0_p4|float %}
        {% set bucket_p2_x_to_p3 = sv.bucket_p2_x_to_p3|float %}
        {% set bucket_p2_x_to_p5 = sv.bucket_p2_x_to_p5|float %}
        {% set bucket_p2_y_to_p5 = sv.bucket_p2_y_to_p5|float %}

        {% set bucket_p2_x = cur.x|float %}
        {% set bucket_p2_y = cur.y|float %}
        {% set bucket_p1_x = bucket_p2_x %}
        {% set bucket_p1_y = bucket_p2_y + bucket_p2_y_to_p1_p0 %}
        {% set bucket_p3_x = bucket_p2_x + bucket_p2_x_to_p3 %}
        {% set bucket_p3_y = bucket_p2_y + bucket_p2_y_to_p3_p4 %}
        {% set bucket_p0_x = bucket_p2_x + bucket_p2_x_to_p0_p4 %}
        {% set bucket_p0_y = bucket_p1_y %}
        {% set bucket_p4_x = bucket_p0_x %}
        {% set bucket_p4_y = bucket_p3_y %}
        {% set bucket_p5_x = bucket_p2_x + bucket_p2_x_to_p5  %}
        {% set bucket_p5_y = bucket_p2_y + bucket_p2_y_to_p5 %}


        #SAVE_VARIABLE VARIABLE=bucket_p2_x VALUE={bucket_p2_x}
        SAVE_VARIABLE VARIABLE=bucket_p2_y VALUE={bucket_p2_y}

        #SAVE_VARIABLE VARIABLE=bucket_p1_x VALUE={bucket_p1_x}
        SAVE_VARIABLE VARIABLE=bucket_p1_y VALUE={bucket_p1_y}
        #SAVE_VARIABLE VARIABLE=bucket_p3_x VALUE={bucket_p3_x}
        SAVE_VARIABLE VARIABLE=bucket_p3_y VALUE={bucket_p3_y}

        #SAVE_VARIABLE VARIABLE=bucket_p0_x VALUE={bucket_p0_x}
        SAVE_VARIABLE VARIABLE=bucket_p0_y VALUE={bucket_p0_y}
        #SAVE_VARIABLE VARIABLE=bucket_p4_x VALUE={bucket_p4_x}
        SAVE_VARIABLE VARIABLE=bucket_p4_y VALUE={bucket_p4_y}

        #SAVE_VARIABLE VARIABLE=bucket_p5_x VALUE={bucket_p5_x}
        SAVE_VARIABLE VARIABLE=bucket_p5_y VALUE={bucket_p5_y}

        RESPOND TYPE=command MSG="action:prompt_end"

        {action_respond_info(
            "P0=%.2f,%.2f  P1=%.2f,%.2f  P2=%.2f,%.2f  P3=%.2f,%.2f  P4=%.2f,%.2f  P5=%.2f,%.2f"|format(
                bucket_p0_x, bucket_p0_y, bucket_p1_x, bucket_p1_y, bucket_p2_x, bucket_p2_y, bucket_p3_x, bucket_p3_y, bucket_p4_x, bucket_p4_y, bucket_p5_x, bucket_p5_y
            )
        )}
    {% endif %}



################################################################################################
# Nozzle clean and prime
################################################################################################
[gcode_macro _NOZZLE_CLEAN_AND_PRIME]
description: Starts the Nozzle Clean and Prime secuence
gcode:
    # Command induction heater to target temp (Fast heating curve) --> This is initiated in macro CHANGE_TOOL/ICKUP_TOOL

    _BUCKET_ENTRANCE_SEQUENCE_WIPE     # Alternative: _BUCKET_ENTRANCE_SEQUENCE_PRIME
    _NOZZLE_WIPE

    _BUCKET_ENTRANCE_SEQUENCE_PRIME
    _PRIME RETRACT={params.RETRACT|default(printer.save_variables.variables.nozzle_extruder_prime_retract_length)}
    _NOZZLE_WIPE


[gcode_macro NOZZLE_CLEAN]
description: Cleans the nozzle
gcode:
    # Command induction heater to target temp (Fast heating curve) --> This is initiated in macro CHANGE_TOOL/ICKUP_TOOL

    _BUCKET_ENTRANCE_SEQUENCE_WIPE     # Alternative: _BUCKET_ENTRANCE_SEQUENCE_PRIME
    _NOZZLE_WIPE


################################################################################################
# Bucket entry sequence
################################################################################################
[gcode_macro _BUCKET_ENTRANCE_SEQUENCE_PRIME]
description: Waste bucket entrance sequence to poop
gcode:
    {% set sv = printer.save_variables.variables %}
    {% set feed = sv.nozzle__wipe_speed|default(3000)|float %}

    G90
    G1 X{sv.bucket_p0_x} Y{sv.bucket_p0_y} F{feed}      # Travel to waste bucket entry point - position P0
    G1 X{sv.bucket_p1_x} Y{sv.bucket_p1_y} F{feed}      # Travel to waste bucket waiting point - position P1 (X-axis)


[gcode_macro _BUCKET_ENTRANCE_SEQUENCE_WIPE]
# Waste bucket entrance sequence to wipe
#
# Advantages: Less travel. Faster. Not going thorugh V-shaped silicon block
# Disadvantages: Not removing debree on V-shaped silicon block
gcode:
    {% set sv = printer.save_variables.variables %}
    {% set feed = sv.nozzle__wipe_speed|default(3000)|float %}

    G90
    G1 X{sv.bucket_p4_x} Y{sv.bucket_p4_y} F{feed}      # Travel to waste bucket entry point - position P4
    G1 X{sv.bucket_p3_x} Y{sv.bucket_p3_y} F{feed}      # Travel to waste bucket waiting point - position P3 (X-axis)



################################################################################################
[gcode_macro _NOZZLE_WIPE]
description: Wipe pattern - toolehad needs to be on position P3, P3*, P2, P1
gcode:
    {% set sv = printer.save_variables.variables %}
    {% set cur = printer.gcode_move.gcode_position %}           # Get position of toolhead

    {% set feed = sv.nozzle__wipe_speed|default(3000)|float %}
    {% set tol = sv.bucket_nozzle_position_tolerance|default(1.0)|float %}
    {% set step = sv.nozzle__wipe_segments_x|default(1)|float %}
    {% set y_travel = sv.nozzle__wipe_travel_y|default(10)|float %}

    # Determine if toolehad is on one of the positions P3, P2, P1
    {% set on_p1 = (cur.x - sv.bucket_p1_x)|abs <= tol and (cur.y - sv.bucket_p1_y)|abs <= tol %}
    {% set on_p2 = (cur.x - sv.bucket_p2_x)|abs <= tol and (cur.y - sv.bucket_p2_y)|abs <= tol %}
    {% set on_p3 = (cur.x - sv.bucket_p3_x)|abs <= tol and (cur.y - sv.bucket_p3_y)|abs <= tol %}
    {% set on_p3s = (cur.x - sv.bucket_p2_x)|abs <= tol and (cur.y - sv.bucket_p3_y)|abs <= tol %}

    # Check toolhead position
    {% if on_p1 or on_p2 %}
        # If toolhead is on position P1 or P2, move it to position P3
        G90
        G1 X{sv.bucket_p2_x} Y{sv.bucket_p3_y} F{feed}     # Prime pattern starts at position P2 and ends at position P3* (To use the full wiper, P3 maybe not in X-axis line with P2)
        G1 X{sv.bucket_p3_x} Y{sv.bucket_p3_y} F{feed}     # Travel to Wipe pattern start position P3
    {% elif on_p3s %}
        G90
        G1 X{sv.bucket_p3_x} Y{sv.bucket_p3_y} F{feed}     # Travel to Wipe pattern start position P3
    {% elif on_p3 %}
        # Toolehad is on position P3 - all is fine.
    {% else %} 
        # Abort if not on position P3, P3*, P2, P1
        {action_raise_error("Wipe aborted: Toolhead not at one of the starting positions P3/P2/P1 (got %.2f,%.2f)"|format(cur.x, cur.y))}
    {% endif %}

    # calculate Y-axis movements
    {% set dx = sv.bucket_p4_x|float - sv.bucket_p3_x|float %}
    {% set step_x = step if dx >= 0 else -step %}
    {% set n = (dx|abs / step)|round(0, 'floor')|int %}

    # Wipe pattern
    G91
    {% for i in range(n) %}
        G1 Y{y_travel} F{feed}
        G1 X{step_x}
        G1 Y-{y_travel} F{feed}
    {% endfor %}

    # Wipe pattern ends at - position P4

    G90
    G1 X{sv.bucket_p4_x} Y{sv.bucket_p4_y} F{feed}      # Move toolhead to endpoint - poisition P4



################################################################################################
[gcode_macro _PRIME]
description: Prime/Poop pattern - toolehad needs to be on position P2, P1
gcode:
    {% set sv = printer.save_variables.variables %}
    {% set cur = printer.gcode_move.gcode_position %}

    {% set feed = sv.nozzle__wipe_speed|default(3000)|float %}
    {% set tol = sv.bucket_nozzle_position_tolerance|default(1.0)|float %}
    {% set retract = params.RETRACT|default(sv.nozzle_extruder_prime_retract_length)|default(0.4)|float %}
    {% set prime_e = sv.nozzle_extruder_prime_travel|default(4.3)|float %}

    # Determine if toolehad is on one of the positions P3, P2, P1
    {% set on_p1 = (cur.x - sv.bucket_p1_x)|abs <= tol and (cur.y - sv.bucket_p1_y)|abs <= tol %}
    {% set on_p2 = (cur.x - sv.bucket_p2_x)|abs <= tol and (cur.y - sv.bucket_p2_y)|abs <= tol %}

    # Check nozzle temperature. Heating was already started during tool pickup (CHANGE_TOOL)
    #{% if printer.extruder.temperature < printer.configfile.settings.extruder.min_extrude_temp|float %}
    #    {action_raise_error("Prime aborted: Nozzle too cold")}
    #{% endif %}

    # Check if toolehad is on position P1. If so move toolhead to position P2
    {% if on_p1 %}
        # If toolhead is on position P1, move it to position P2
        G90
        G1 X{sv.bucket_p2_x} Y{sv.bucket_p2_y} F{feed}
    {% elif on_p2 %}
        # Toolehad is on position P2 - all is fine.
    {% else %}
        # Abort if not on position P2, P1
        {action_raise_error("Prime aborted: Toolhead not at a starting position P2/P1 (got %.2f,%.2f)"|format(cur.x, cur.y))}
    {% endif %}

    SAVE_GCODE_STATE NAME=_prime

    # Extrude a tight, pressurized filament segment ("grain of rice" waste)  # this allows backpressure to build up on the nozzle
    G91
    G1 E{prime_e} F300
    G4 P200                                     # 200ms pause
    G1 E-{retract} F1200       # Retract to prevent oozing

    # Move toolhead backwards through V-shaped siloicon to endpoint - poisition P3
    G90
    G1 X{sv.bucket_p2_x} Y{sv.bucket_p3_y} F{feed}     # Prime pattern ends at position P3* (To use the full wiper, P3 maybe not in x-axis line with P2)

    RESTORE_GCODE_STATE NAME=_prime MOVE=0
