################################################################################################
# File: optical_issue_detection.cfg
# Author: Andreas
# Date: 20251108
# Purpose: Otptical issue detection like: Object detection, Spaghetti detection, Printfailure detection
# 
# include in printer.cfg
################################################################################################



################################################################################################
# Object detection
################################################################################################
[gcode_shell_command DETECT_BED_OBJECT]     # Calls the python3 "/home/mks/mainsail/all/cv.py 32" .Creae a gcode accessible shell command which can be called from a Macro.
command: ~/printer_data/scripts/bed_object.sh       # executes the shell script bed_object.sh
timeout: 8                                    # Maximum tine Klipper will wait for the script to complete before aborting. (in seconds)
    # bed_object.sh
    #   calls cv.py with the argument 32    --> the variabl 32 is unused
    # cv.py
    #   This Python script is a basic computer vision tool for Klipper 3D printers with a webcam, designed to:
    #   Detect if an object is on the bed (but NOT a blob, spaghetti, failed print)
    # If detected, it:
    #    Displays a message (M117) on the printer
    #    Sends a PAUSE command to stop the print