################################################################################################
# File: printer.cfg
# Author: Andreas
# Date: 20251106
# purpose: Configuration for Klipper, Moonraker, Mainsail, KlipperScreen, KAMP
# 
################################################################################################


################################################################################################
# file inclusion
# Eryone moved all Sections from the printer.cfg to separate configuration files.
################################################################################################
[include mainsail.cfg]              # Mainsail configuration

[include motor_driver_v1_2.cfg]     # Stepper motor and driver
[include canuid.cfg]                # CAN bus uuid

[include indx_settings.cfg]                   # INDX smart toolboard settings
[include indx_macros/indx.cfg]                # INDX macro settings
[include indx_macros/indx-tc-macros.cfg]      # INDX macros
[include indx_macros/indx-cal.cfg]            # INDX macros

[include calibration.cfg]           # Calibration routines of the printer
[include filament_mgmt.cfg]         # Filament management

[include KAMP_Settings.cfg]         # Adaptive Meshing and Probing
[include timelapse.cfg]             # Timelaps foto function

[include x400.cfg]                  # printer settings & klipper functions
#[include printjob_mgmt.cfg]         # Sehll commands and Makros from x400.cfg
[include nozzle_cleaning.cfg]       # Nozzle Cleaning

[include chamber_temp_mgmt.cfg]     # Chamber heater
[include electronics_bay.cfg]       # Electronics bay temperature control

[include plr.cfg]                       # Power loss recovery - macros are part of x400_shell_commands_macro-cfg
[include optical_issue_detection.cfg]   # Otptical issue detection like: Object detection, Spaghetti detection, Printfailure detection

[include macros_printer.cfg]
[include macros_debugging.cfg]
#[include Andreas_extensions.cfg]   # Some extensions to test
#[include eryone_stuff.cfg]         # Eryone stuff from x400.cfg

[include light_management.cfg]      # Chamber light and stats bard (RBG LED stripe) controll
[include marlin_compatibility.cfg]  # Macros which mimic Marlin commands

################################################################################################
# v1_1.cfg and v1_2.cfg (by eryone)
#
#   Differences:
#        v1_1
#           has lower run_current and hold current values
#           has for all stepper motors the same values
#       v1_2
#           has higher run_current and hold_current values
#           Values differ between X,Y stepper motors and Z stepper motors.
#
# Where are they included:
#   Frimware image fom gdirve x400_20250527.img (May 2025):
#       mks/printer_data/conf/printer.cfg       --> v1_1 is included
#       mks/KlipperScreen/config/printer.cfg    --> v1_2 is included
#   GutHub files as of 20250807
#       config/printer.cfg       --> v1_1 is included
#   Gitclone: v1_1 & v1_2
#       https://gitcode.com/xpp012/KlipperScreen/blob/master/config/v1_2.cfg
#
#################################################################################################


################################################################################################
# Calibration Values. Creation can be trickered via console. Also saving them.
#
# Section description:
#   probe:      Providing an accurate probe z_offset is critical to obtaining high quality prints. --> For better first layer.
#               z_offset is the distance between the nozzle and bed when the probe triggers.
#               PROBE is used instead of: position_endstop = z_offset
#               The z_offset is commented out [probe] in EECAN.cfg, because it is definde in printer.cfg
#               Thinker has a PZ-Probe in the nozzle. So z_offset = 0. 
#               HowTo calibrate the z_offset: DrKlipper https://youtu.be/nqGv3xfeXKA?si=vwlziyj7Z5ngQBO9&t=918
#               z_offset = -0.12 (by Eryone)
#               https://www.klipper3d.org/Probe_Calibrate.html
#
#   bed_mesh default:   Measures the Bed on different places.
#                       Settings for bed_mesh are defined in the accoriding section in calibration.cfg
#                       HowTo calibrate bed_mesh: DrKlipper https://youtu.be/nqGv3xfeXKA?si=6VmfRt51Oc-s0ZJ0&t=2029
#                       Home axis: $ G28
#                       Z-TIlT oder quad_gentry_level ausführen
#                       HEat up bed to "printing" temperature. eg. for PLA
#                       Calibration: $ BED_MESH_CALIBRATE
#                       Store mesh profile for certain filament (eg. PLA): $ BED_MESH:PROFILE SAVE=Mesh_PLA
#                       Store mesh profile as default: $ SAVE_CONFIG 
#
#   input_shaper:   Durckerbewegungen kompensieren
#                   The values are commented out in the accoriding section in calibration.cfg
#                   HowTo calibrate the z_offset: DrKlipper https://youtu.be/nqGv3xfeXKA?si=1HtclaiYY_JHlxni&t=2344
#                   Home axis: $ G28
#                   Execute the calibration: $ SHAPER_CALIBRATE
#                   Store the values: $ SAVE_CONFIG
#
#   extruder:  Extruder temperature calibration. Via temrinal commands.
#              The values are commented out in the accoriding section in EECAN.cfg
#              HowTo calibrate the PID values: DrKlipper https://youtu.be/nqGv3xfeXKA?si=lBENN1wxQI_1K4cl&t=461
#              Printer/Extruder should have room temperature. Select a target temperature of the nozzle temperature usually used to print.
#              Execute the calibration: $ PID_CALIBRATE HEATER=extruder TARGET=230
#              Store the values: $ SAVE_CONFIG
#
#   heater_bed: Heatbed temepratue calibration. Via terminal commands.
#               The values are commented out in the accoriding section in x400.cfg
#               HowTo calibrate the PID values: DrKlipper https://youtu.be/nqGv3xfeXKA?si=Iy7UHeuTcOsjQzWX&t=629
#               Printer/heat_bed should have room temperature. Select a target temperature of the nozzle temperature usually used to print.
#               Execute the calibration: $ PID_CALIBRATE HEATER=heater_bed TARGET=60
#               Store the values: $ SAVE_CONFIG
#
#   heater_generic chamber_heater:
#              There is a gcode_macro CALIBRATE_CHAMBER_PID in calibrate.cfg to calibrate hte chamber_heater
#
#               :::: How it can be one manually :::
#               PID values should be determined via klipper command:
#                   $ PID_CALIBRATE HEATER=chamber_heater TARGET=50
#                   $ SAVE_CONFIG
#                   --> Klipper stores the values in printer.cfg at the bottom.
#              PID Values:
#                   pid_Kp = 20-0              # Proportional - Reagiert direkt proportional zum Temperaturfehler (Soll − Ist). Je größer der Fehler, desto stärker die Heizleistung. Hoher Wert → reagiert aggressiver, erreicht Soll schneller, kann aber auch stärker überschwingen.
#                   pid_ki = 0.5               # Integral - Summiert den Fehler über die Zeit auf und korrigiert kleine Abweichungen. Verhindert, dass die Temperatur dauerhaft knapp unter dem Soll bleibt. Zu hoch → kann schwingen; zu niedrig → braucht länger, um Abweichungen auszugleichen.
#                   pid_kd = 50.0              # Derivative -Reagiert auf die Änderungsgeschwindigkeit der Temperatur. Bremst die Regelung, wenn sich die Temperatur zu schnell ändert, um Überschwingen zu vermeiden. Hoher Wert → stabilisiert, aber zu hoch → kann das System träge machen.
#              Klipper evaluates the PID settings with the following general formula: fan_pwm = max_power - (Kp*e + Ki*integral(e) - Kd*derivative(e)) / 255
#              Where "e" is "target_temperature - measured_temperature" and "fan_pwm" is the requested fan rate with 0.0 being full off and 1.0 being full on.
#
#   temperature_fan chamber_exhaust_fan:
#               Currently set as Watermark. So no PID is required
#
#               :::: How it can be one manually :::
#               PID values should be determined via klipper command:
#                   $ PID_CALIBRATE HEATER=chamber_heater TARGET=50
#                   $ SAVE_CONFIG
#                   --> Klipper stores the values in printer.cfg at the bottom.
#               PID Values:
#                   pid_Kp = 20-0              # Proportional - Reagiert direkt proportional zum Temperaturfehler (Soll − Ist). Je größer der Fehler, desto stärker die Heizleistung. Hoher Wert → reagiert aggressiver, erreicht Soll schneller, kann aber auch stärker überschwingen.
#                   pid_ki = 0.5               # Integral - Summiert den Fehler über die Zeit auf und korrigiert kleine Abweichungen. Verhindert, dass die Temperatur dauerhaft knapp unter dem Soll bleibt. Zu hoch → kann schwingen; zu niedrig → braucht länger, um Abweichungen auszugleichen.
#                   pid_kd = 50.0              # Derivative -Reagiert auf die Änderungsgeschwindigkeit der Temperatur. Bremst die Regelung, wenn sich die Temperatur zu schnell ändert, um Überschwingen zu vermeiden. Hoher Wert → stabilisiert, aber zu hoch → kann das System träge machen.
#                   pid_deriv_time: 2.0             # A time value (in seconds) over which temperature measurements will be smoothed when using the PID control algorithm. This may reduce the impact of measurement noise. The default is 2 seconds.
#               Klipper evaluates the PID settings with the following general formula: fan_pwm = max_power - (Kp*e + Ki*integral(e) - Kd*derivative(e)) / 255
#               Where "e" is "target_temperature - measured_temperature" and "fan_pwm" is the requested fan rate with 0.0 being full off and 1.0 being full on.
#
#
# Other Calibrations:
#   [endstop_phase]
#       Calbration of the endstops, that they are more acurate.
#       Calibraiton of the endstop_phase: DrKlipper https://youtu.be/nqGv3xfeXKA?si=0igMmOukUWeSeZ0e&t=695
#       $ endstop_hase_calibrate
#
################################################################################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = -0.12
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.023556, 0.051290, 0.011056, 0.007931, 0.011837
#*# 	-0.020585, 0.015353, 0.026681, -0.037381, -0.083085
#*# 	-0.079569, -0.005741, 0.005978, -0.004178, -0.091678
#*# 	-0.062772, 0.039962, 0.073165, 0.017697, -0.069803
#*# 	-0.008475, -0.024881, -0.019022, -0.018631, -0.032694
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 390.0
#*# min_y = 10.0
#*# max_y = 390.0
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 54.4
#*# shaper_type_y = mzv
#*# shaper_freq_y = 34.2
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 25.957
#*# pid_ki = 5.090
#*# pid_kd = 33.095
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 70.402
#*# pid_ki = 2.579
#*# pid_kd = 480.491
#*#
#*# [heater_generic chamber_heater]
#*# pid_kp = 24.750
#*# pid_ki = 2.578
#*# pid_kd = 59.400
#*#
#*# [temperature_fan chamber_exhaust_fan]
#*# pid_kp = 20.0
#*# pid_ki = 0.5
#*# pid_kd = 50.0
