################################################################################################
# File: printing_mgmt.cfg
# Author: Eryone / Modified by Andreas
# Date: 2026009109
# purpose: Print job management (start, paus, end, powerloss)
#
# include in printer.cfg
################################################################################################
#
# ::: Macros :::
#   PRINT_START
#   PRINT_END
#
# ::: Custom Macros :::
# PRINT_CONTINUE  -  belongs to PLR
#
# Klipper commands:
# - x PAUSE
#       Ideas: https://github.com/Frix-x/klippain/blob/main/macros/base/pause_resume.cfg
#              https://github.com/EricZimmerman/Voron24/blob/PreKlippain/macros/print_base/print_pause_resume.cfg
# - x RESUME
#       Ideas: https://github.com/Frix-x/klippain/blob/main/macros/base/pause_resume.cfg
               https://github.com/EricZimmerman/Voron24/blob/PreKlippain/macros/print_base/print_pause_resume.cfg
# - x CANCEL_PRINT
#        Ideas: https://github.com/Frix-x/klippain/blob/main/macros/base/cancel_print.cfg
#               https://github.com/EricZimmerman/Voron24/blob/PreKlippain/macros/print_base/print_cancel.cfg
# - x CLEAR_PAUSE       - clear a paused state and allow the printer to resume normal operation. You don’t have to use it manually unless you’re scripting macros that use PAUSE.
#
# ::: Helper Macros :::
# - INTRO_LINE (PURGE_LINE / PRIME_LINE) --> moved to eryone_stuff.cfg
# - x HEATSOAK
#
# More ideas: https://github.com/minimal3dp/voron24r2pro/blob/main/printer_data/config/macros.cfg
#
################################################################################################


##############################################################
# Toolchanger speed
#   https://github.com/BondtechAB/INDX#temperature--induction-settings
# Run macro in console. Alternatively add it to the print start gcode, one of these.
# in my opinin: or in OrcaSlicer printstart code, after calling the PRINT_START BED=... macro
#   MODE_STEALTH   ; quiet/slow
#   MODE_NORMAL    ; default
#   MODE_SPORT     ; full speed



##############################################################
[gcode_macro PRINT_START]
description: Runs at the beginning of a print job. Includes logic for AI-based object detection.
# Needs to be calle in teh Slicer --> See fodler /slicer settings/
#
# ⚠️ Any hotend heating commands in your PRINT_START macro must come after the first tool pick-up (T0).
# Sending a heat command before a tool is picked up will result in an error, and depending on your macro structure, may cause a crash or leave the printer in a bad state.
# M104 / M109 after the first T0 call.

# Variables are available globally
variable_slicer_bed_temperature_initial_layer: 0.0
variable_slicer_hotend_temperature_first_layer: 0.0
variable_slicer_chamber_temperature: 0.0
variable_slicer_initial_tool: 0

gcode:
    ###################################
    # ::: Get variables from slicer :::
    #   The following must be part of the slicers Machine start G-code:
    #       by Eryone: PRINT_START BED={bed_temperature_initial_layer_single} EXTRUDER={first_layer_temperature}
    #       by Voron with error: PRINT_START EXTRUDER={first_layer_temperature[initial_extruder] + extruder_temperature_offset[initial_extruder]} BED=[first_layer_bed_temperature] CHAMBER=[chamber_temperature]
    #       by Andreas: PRINT_START EXTRUDER=[first_layer_temperature[initial_extruder]] BED=[bed_temperature_initial_layer] CHAMBER=[chamber_temperature]
    {% set slicer_bed_temperature_initial_layer = params.BED|float %}
    {% set slicer_hotend_temperature_first_layer = params.EXTRUDER|float %}
    {% set slicer_chamber_temperature = params.CHAMBER|float %}
    {% set slicer_initial_tool = params.TOOL|float %}


    ###################################
    # ::: ??? :::
    M117 PRINT_START: Preparing printer to print
    _status_bar PS="preparing"

    M400
    CLEAR_PAUSE

    {% if not printer["filament_switch_sensor toolhead_filament_sensor"].filament_detected %}     # Check: Is filament inserted
        {action_respond_info("No filament detected — aborting. Please insert filament — start will continue automatically.")}
        PAUSE
        # When filament is inserted, [filament_switch_sensor toolhead_filament_sensor] insert_gcode is executed: LOAD_FILAMENT SPEED=1 MODE=RUNOUTDETECTION + CLEAR_PAUSE  +  RESUME
    {% endif %}

    UPDATE_DELAYED_GCODE ID=_chamber_exhaust_fan_off DURATION=0  # Cancel any pending chamber exhaust fan shutdown
    UPDATE_DELAYED_GCODE ID=_electronics_bay_fan_off DURATION=0  # Cancel any pending electronics bay fan shutdown
    #SET_FAN_SPEED FAN=chamber_exhaust_fan SPEED=0.5             # set fan to 90% speed --> Not working, because it is a "temperature_fan"
                                                                 # Work arround: SET_TEMPERATURE_FAN_TARGET FAN=chamber_exhaust_fan TARGET=40
    #SET_FAN_SPEED FAN=electronics_bay_fan SPEED=1               # set fan to 100% speed --> Not working, becaus it is a "controller_fan"


    ###################################
    # ::: AI object detection :::
    {% if printer.save_variables.variables.use_ai==True %}  # If AI is activated (Variable in variable.cfg)
        M117 Detecting object on the Bed with Camera ... 
        SET_PIN PIN=LED VALUE=1                     # Turns on the LED to 100%
        M84                                         # M18=M84 - Diable all stepper motors. Printer stays still during detection (no jitter and power draw)
        M117 PRINT_START: Detecting object on the Bed with Camera ...    # Display message on Screen
        RUN_SHELL_COMMAND CMD=DETECT_BED_OBJECT     # Calls: gcode_shell_command DETECT_BED_OBJECT
        G4 P8000                                    # pauses for 8000ms (8sec) to allow the detection script run

        # Maybe 2nd round with toolehad out of the way (Question by andreas)
            # if nothing detected:
                #G90                                         # set absolute mode
                #G1 X395 Y395
                # ...
                #RUN_SHELL_COMMAND CMD=DETECT_BED_OBJECT     # Calls: gcode_shell_command DETECT_BED_OBJECT
                #G4 P8000                                    # pauses for 8000ms (8sec) to allow the detection script run

        SET_PIN PIN=LED VALUE=0.1                            # Set LED grightness to 10%
        M117 PRINT_START: Object detection completed.        # Display message on Screen
    {% endif %}


    ###################################
    # ::: Show variables handed over by slicer :::
    { action_respond_info("Bed Temperautre for first layer: %.2f" % slicer_bed_temperature_initial_layer) }
    { action_respond_info("Hotend Temperature for first layer: %.2f" % slicer_hotend_temperature_first_layer) } 
    { action_respond_info("Chamber target temeprature: %.2f" % slicer_chamber_temperature) }
    { action_respond_info("Initial Tool: %.2f" % slicer_initial_tool) } 


    ###################################
    # ::: Prepare the print :::    
    M117 PRINT_START: Start heating printbed
    M140 S{slicer_bed_temperature_initial_layer}        # Set bed temp (upfront to save time.  This early, due to long heating time.

    M117 PRINT_START: Start chamber heating
    G1 Z50                                              # Move gantry away from chamber heater hot air output
    M141 S{slicer_chamber_temperature} BS{slicer_bed_temperature_initial_layer}                # Set chamber temperature

    M117 PRINT_START: Homing axis X/Y
    G28 X Y

    M117 PRINT_START: Pick up tool T0
    T0      # First load if empty / force T0
            # From Bondtech homing order rcommendation:
            #   4. If any tool other than T0 is active: park it in the dock
            #   5. If T0 is not already picked up: pick up T0
            # Nozzle heating is done as part of T0

    M117 PRINT_START: Waiting for printbed reaching temperature
    M190 S{slicer_bed_temperature_initial_layer}        # Set bed temp and wait until reached           # From Orca slicer-s Machine start G-code (by eryone)

    M117 PRINT_START: Homing axis Z
    G28 Z

    M220 S100       # reset the print speed to 100%

    M117 PRINT_START: Waiting for chamber reaching temperature
    M191 S{slicer_chamber_temperature} BS{slicer_bed_temperature_initial_layer}     # Set chamber temperature - Wait until temperature reached


    ###################################
    # ::: QGL :::
    M117 PRINT_START: Start Quad gantry level
    QUAD_GANTRY_LEVEL S={slicer_bed_temperature_initial_layer}   # QGL includes homing of axis
    #G90                      # set absolute mode
    #G28 Z                   # re-home Z if QGL used (Voron style)   # Done in QGL Macro
    #G1 Z5 F3000             # move nozzle away from bed   - Toolhead is moved via PARK_POSITION atht the end of QGL

    # M117 PRINT_START: Start bed mesh level
    BED_MESH_CLEAR                                      # source: https://github.com/Frix-x/klippain/blob/main/macros/base/start_print.cfg
    BED_MESH_CALIBRATE                                  # Calls the KAMP-Version.  # Eryone calls this in Orca slicer-s Machine start G-code

    {% set act = printer.save_variables.variables.active_tool|default(-1)|int %}
    {% if slicer_initial_tool == act %}
        # If current tool is the tool used first in print
        M117 PRINT_START: Start nozzle cleaning and priming
        _NOZZLE_CLEAN_AND_PRIME
    {% endif %}

    # M117 PRINT_START: Heating bed and nozzle for first layer - waiting for temperature reached
    # M109 S{slicer_hotend_temperature_first_layer}       # Set extruder temp and wait until reached      # From Orca slicer-s Machine start G-code (by eryone)
    #   Is Done in "indx-tc-macros.cfg: Tx --> CHANGE_TOOL --> _PICKUP_TOOL"

    #M117 PRINT_START: Start INTRO_LINE
    #_INTRO_LINE D=0.4      # intro line with 0.4 mm nozzle     # From Orca slicer-s Machine start G-code   # (by eryone)
        # To test: KAMPs Adaptive line purging.
    # LINE_PURGE  # KAMP: purge line
    # firmware retration for KAMP needed: https://www.klipper3d.org/Config_Reference.html?h=retract#firmware_retraction
    # Purgeline replaced by PRIME-ROUTINGE (PRUSA)

    M117 PRINT_START: Completed.
    _status_bar PS="progress"

    # OrcaSlicer commands the first change_tool for the tool used for the first layer.


##############################################################
[gcode_macro PRINT_END]
description: Cleanup routine after a print finished
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    # Berechnung der möglichen positionen
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}       # Wenn bis rechter Grenze mehr als 20mm Platz ist --> +20mm (nach rechts), sonst -20mm (nach links)
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}       # Wenn nach hinten 20mm Platz ist --> +20mm (nach hinten), sonst -20mm (nach links)
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}                                       # Wenn nach oben 2mm Platz ist --> +2mm (nach oben), sonst maximmal mögliches nach oben.
    
    # The purpose of the SAVE_GCODE_STATE/RESTORE_GCODE_STATE command pair is to restore the printer's coordinate system and speed settings since the commands above change them.
    SAVE_GCODE_STATE NAME=STATE_PRINT_END

    #SET_FAN_SPEED FAN=chamber_exhaust_fan SPEED=0.5                    # Turn on chamber exhaust fan. Turn off via IDLE_TIMEOUT
                                                                        # Not working, becaus it is a "temperaturer_fan"
    #UPDATE_DELAYED_GCODE ID=_chamber_exhaust_fan_off DURATION=300      # Schedule chamber exhaust fan to turn off after 5 minutes (300s)  - Alternative to IDLE_TIMEOUT
    #SET_FAN_SPEED FAN=chamber_recirculating_fan SPEED=1                 # Turn on chamber recirculating fan. Turn off via IDLE_TIMEOUT
                                                                        # Not working

    SAVE_VARIABLE VARIABLE=filename VALUE='".gc"'                       # saves the value to the varibale

    # Move nozzle away from print while retracting
    M400                    # Wait for buffer to clear
    G91                     # Switch to relative mode
    G92 E0                  # zero the extruder position # https://github.com/VoronDesign/Voron-2/blob/Voron2.4/firmware/klipper_configurations/M8P/Voron2_M8P-v2.0_config.cfg 
#    G1 E-2 F1800           # Retract filament by 2,6mm. Prevents oozing.
# ??? Retraction for INDX ???
    G90                 # Switch to absolute mode

    G90                 # Switch to absolute mode
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000     # Move nozzle to avoid stringing.

    # Turn off heaters and fan(s)
    TURN_OFF_HEATERS
    #M140 S0           # Turn off heated bed (temperature = 0°C) --> Done via TURN_OFF_HEATERS
    #M104 S0           # Turn off extruder (temperature = 0°C) --> Done via TURN_OFF_HEATERS
    #M106 S0           # Set speed of fan (=part cooling fan) to 0 (=Turn fan off) --> Done via M107
    M107               # Turn off fan (=part cooling fan)    

    # Park the tool in the dock
    PARK_TOOL

    # Move toolhead to the back of printer - Easier access to tools in dock
    G90                  # Switch to absolute mode
    G0 X{th.axis_maximum.x / 2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear

    M400
    M84                 # Disable steppers

    #SET_FAN_SPEED FAN=electronics_bay_fan SPEED=0.5                    # Turn on the electronics bay fan. Turn off via IDLE_TIMEOUT - Needs to be below M84 command
                                                                        # Not working, becaus it is a "controller_fan"
    #UPDATE_DELAYED_GCODE ID=_electronics_bay_fan_off DURATION=300      # Schedule electronics bay fan to turn off after 5 minutes (300s) - Alternative to IDLE_TIMEOUT

    # Reset status
    CLEAR_PAUSE
    BED_MESH_CLEAR
    SDCARD_RESET_FILE
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END MOVE=0     # Restore the printer's coordinate system and speed settings since the commands above change them. To prevent any accidental, unintentional toolhead moves when restoring the state, explicitly set MOVE=0.

    #SET_PIN PIN=LED VALUE=0                                            # Turn chamber light off
    UPDATE_DELAYED_GCODE ID=_chamber_light_delayed_off DURATION=300     # Turn off the chamber light after 5 minutes (300sec)
    _status_bar PS="complete"


################################################################################################
# Power-Loss Recovery
#################################################################################################
# [gcode_macro PRINT_CONTINUE]
# --> In printjob_mgmt.cfg
