################################################################################################
# File: variable.cfg
# Author: Klipper
# Date: 202501009
# purpose: Location where Klipper saves persistant variables via [save_variables] (x400.cfg)
#
# !!! NO commetns should be made in this file !!!
#
################################################################################################
# For PLR
#   power_resume_z
#   filename
#   was_interrupted
################################################################################################

[Variables]
allcalibrate = 0
filament_sensor = {'tight': 1}
filename = '.gc'
needreboot = 0
use_ai = False
use_cloud = True
was_interrupted = True

andreas_debug_mode = True

andreas_mcu_temp_thr_for_electronics_bay_fan = 40
andreas_soc_temp_thr_for_electronics_bay_fan = 50

andreas_electronics_bay_fan_speed = 1
andreas_chamber_heater_chamber_fan_temperature_delta = 1
andreas_chamber_heater_supported_by_bed_heater = True
andreas_room_temperature_sensor = False

andreas_bed_mesh_calibrate_target_temp = 65
andreas_nozzle_probing_temp = 150

andreas_homing_stepper_z_run_current = 0.49
andreas_homing_stepper_xy_run_current = 0.49

andreas_toolhead_parking_position_x = 397
andreas_toolhead_parking_position_y = 397
andreas_toolhead_parking_position_z = 50


bucket_p2_y_to_p1_p0 = -10
bucket_p2_y_to_p3_p4 = 30
bucket_p2_x_to_p0_p4 = -20
bucket_nozzle_position_tolerance = 1.0
nozzle__wipe_speed = 3000
nozzle__wipe_segments_x = 1
nozzle__wipe_travel_y = 10
nozzle_extruder_prime_travel = 4.3
nozzle_extruder_prime_retract_length = 0.4
