################################################################################################
# File: eryone_stuff.cfg
# Author: Eryone
# Date: 20250527
# purpose: Stuff from Eryone
#
# Source:  Was part of the Eryone x400.cfg file.
#
# include in printer.cfg
################################################################################################


################################################################################################
# Things which were defined by Eryone. But is standard in ~/mainsail-config/client.cfg
################################################################################################
[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE_2
gcode:
    { action_respond_info("pause macro %f" % printer[printer.toolhead.extruder].target) }                                     # (Added by Eryone) Sends the extruder temeprature to the UI
    { action_respond_info("paused? %d" % printer.pause_resume.is_paused) }                                                    # (Added by Eryone) Send info that printis pasued to the UI

    # (Added by Eryone)
    {% if printer.pause_resume.is_paused == False %}                                                                          # Gibt True zurück wenn der Drucker aktuell pausiert ist. Sonst False.  printer.pause_resume - Ist das interne Klipper-Objekt für die [pause_resume]-Funktion.
         SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=saved_extruder_temp  VALUE={printer[printer.toolhead.extruder].target}      #  Speichet die aktuellen Solltemperaturen des aktiven Extruders in der Makro-Variable saved_extruder_temp des Macros RESUM.
                                                                                                                               #  !!! variable name is different. (original last_extruder_temp), compared to mainsail-config/cleint.cfg (Added by Eryone)
    {% endif %}
    
    PAUSE_BASE_2                                      # Calls the original Gcode PAUSE command in mainsail-conf/client.cfg
    
    #_TOOLHEAD_PARK_PAUSE_CANCEL                   # soruce: https://klipperscreen.readthedocs.io/en/latest/macros/#recommended
    #_TOOLHEAD_PARK_PAUSE_CANCEL {rawparams}        # !!! (deactivated by Eryone)
    #
    # --> https://klipperscreen.readthedocs.io/≈en/latest/macros/#resume


    #{% if 'xy' in printer.toolhead.homed_axes %}   # !!! (Added by Eryone) # (commented out by andreas)
    #   G1 Y50 X399                                 # !!! (Added by Eryone) # (commented out by andreas) # Is in _CLIENT_VARIABLE. As described by Mainsail (by Andreas)
    #{% endif %}                                    # !!! (Added by Eryone) # (commented out by andreas)

##################################################
[gcode_macro RESUME]
description:  Resume the actual running print
rename_existing: RESUME_BASE_2
variable_saved_extruder_temp: 0                           # variable saved_extruder_temp is defined. (Added by Eryone)
gcode:
   { action_respond_info("action:resumed") }                                                  # Ausgabe in console (Added by Eryone)
   M104 S{saved_extruder_temp}                                                                # extruder temperature. Variable saved_extruder_temp was defined in "gcode_macro PAUSE" (Added by Eryone) 
   M109 S{saved_extruder_temp}                                                                # Sets the extruder temperature and waits until the extruder reched the tememperature. (Added by Eryone) 
   #{% if printer[printer.toolhead.extruder].temperature + 3 < saved_extruder_temp %}         # Deactivated by Eryone (Added by Eryone) 
   #   { action_respond_info("action:resumed1") }
   #   M109 S{saved_extruder_temp}
   #{% endif %}

    ##### get user parameters or use default #####
    {% set macro_found = True if printer['gcode_macro _CLIENT_VARIABLE'] is defined else False %}            # Setzt die Variable macro_found auf True, wenn das Objekt, welches durch ['gcode_macro _CLIENT_VARIABLE'] definiert ist, existiert. Ansosnten auf False.
                                                                                                            #   printer ist in Klipper ein Dictionary mit allen Objekten (Stepper, Extruder, Macros, Sensoren, etc.)
                                                                                                            #   printer['gcode_macro _CLIENT_VARIABLE'] greift auf das Objekt zu, das durch das Makro [...] definiert wurde.
                                                                                                            #   "is defined" prüft, ob dieser Schlüssel existiert (Makro vorhanden).
                                                                                                            #     Falls das Makro existiert wird die varibale macro_found = True
                                                                                                            #     alls nicht wir ddie variable macro_found = False
    {% set client = printer['gcode_macro _CLIENT_VARIABLE'] %}                                               # Weist der Variablen client das Objekt, welches durch ['gcode_macro _CLIENT_VARIABLE'] definiert ist, zu.
                                                                                                            #   printer['gcode_macro _CLIENT_VARIABLE'] → Greift auf das Objekt zu, das durch das Makro [...] definiert ist
                                                                                                            #   set client = ... → Speichert dieses Objekt in der Jinja-Variable client, sodass man es kürzer ansprechen kann.
    {% set velocity = printer.configfile.settings.pause_resume.recover_velocity %}                           # Weist der Variablen velocity den Wert der Variable recovery_velocity aus dem Klipper macro pause_resume zu.
    {% set sp_move  = velocity if not macro_found else client.speed_move|default(velocity) %}                # Weist der Variablen sp_move den Wert aus der variablen velocity zu, wenn _CLIENT_VARIABLE nicht gedunen wurde. Ansosnten wurd sp_move der wert aus cleint.speed_move zugeweisen. Wenn ideser nicht vorhanden istm dass der wert aus velocity. 
                                                                                                            #   "not macro_found" - Prüft, ob das Hilfsmakro _CLIENT_VARIABLE existiert.
                                                                                                            #   client.speed_move - Greift auf eine Variable speed_move aus dem _CLIENT_VARIABLE-Makro zu.
                                                                                                            #   |default(velocity) - Falls client.speed_move nicht existiert oder leer ist, nimm stattdessen velocity.
    
    _CLIENT_EXTRUDE    # Macro in ~/mainsail-conf/client.cfg. Is also called in RESUME_BASE.
    _CLIENT_EXTRUDE    # (Added by Eryone)
    _CLIENT_EXTRUDE    # (Added by Eryone)
    _CLIENT_EXTRUDE    # (Added by Eryone)
    _CLIENT_EXTRUDE    # (Added by Eryone)
    _CLIENT_EXTRUDE    # (Added by Eryone)
    _CLIENT_EXTRUDE    # (Added by Eryone)

    RESUME_BASE_2 VELOCITY={params.VELOCITY|default(sp_move)}     # Calls the original Gcode RESUME command in ~/mainsail-conf/client.cfg
    
    _CLIENT_EXTRUDE    # (Added by Eryone)
    _CLIENT_EXTRUDE    # (Added by Eryone)









#####################################################################
# Shell Commands
#####################################################################
[gcode_shell_command APP_ERYONE_UPDATE]
#command: /home/mks/mainsail/all/git_pull.sh     # Puls the new Eryone KlipperScreen version and installs it.
#timeout:8
    # gut_pull.sh:
    #   This is a shell script to force-update KlipperScreen from the GitHub repo, fix permissions, and run a follow-up configuration script (relink_conf.sh).
    #   It’s tailored for the MKS SKIPR board or similar setups where KlipperScreen is manually cloned and managed.
    # rlink_conf.sh
    #   This is a large and complex custom shell script designed to reset, configure, and deploy a customized Klipper environment — likely for the MKS SKIPR or similar Makerbase boards.
command: echo "Eryone Update function is deactevated. It will mess up with x400-software-pack."
command: /home/mks/mainsail/all/git_pull.sh 
timeout:8

[gcode_shell_command SCAN_ALL_PRINTER]
command: /home/mks/mainsail/all/scan.sh         # Scans for printers on 192.168.2.1/24 network.
timeout: 30.
    # scan.sh:
    #   This is a custom Bash script that scans your local network to find Klipper printers (or devices running a web server on port 7125, which is the default Moonraker port), then:
    #   Queries each device for its hostname,
    #   and writes a list of printers + IPs to a file (printers.txt).


#####################################################################
# Mainboard Configuration
# --> Eryone moved it to canuid.cfg
#####################################################################
# See docs/Config_Reference.md for a description of parameters.
#[mcu]
# The hardware use USART1 PA10/PA9 connect to RK3328
#serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_2C003B001250314335393520-if00
#serial: /dev/ttyS0
#restart_method: command
#canbus_uuid: e2ec05901641



#####################################################################
# ???
##################################################################### 
# This file contains common pin mappings for boards. To use this config, the firmware should be compiled for the stm32f407.
# When running "make menuconfig", select the 48KiB bootloader, and enable "Serial for communication" and select the "on USART1 PA10/PA9"

#[gcode_button m2y_gcode_button]
#pin: !PB15
    # The pin on which the button is connected. This parameter must be provided.
#analog_range:
    # Two comma separated resistances (in Ohms) specifying the minimum and maximum resistance range for the button.
    # If analog_range is provided then the pin must be an analog capable pin. The default is to use digital gpio for the button.
#analog_pullup_resistor:
    # The pullup resistance (in Ohms) when analog_range is specified.
    # The default is 4700 ohms.
#press_gcode:M119 
    # A list of G-Code commands to execute when the button is pressed.
    # G-Code templates are supported. This parameter must be provided.
#release_gcode:M112
    # A list of G-Code commands to execute when the button is released.
    # G-Code templates are supported. The default is to not run any commands on a button release.



#####################################################################
# Eryone  Macors
#####################################################################
[gcode_macro T0]
gcode:
    # do nothing

[gcode_macro T1]
gcode:
    # do nothing

[gcode_macro T2]
gcode:
    # do nothing

[gcode_macro T3]
gcode:
    # do nothing   



#####################################################################
# Eryone Factory Macors
#####################################################################
# used for factory package

[gcode_shell_command CLEAN_HISTORY]
command: curl -X POST http://127.0.0.1/server/history/reset_totals
timeout: 50


[gcode_macro eryone_packaging]
gcode: 
	RUN_SHELL_COMMAND CMD=CLEAN_HISTORY
    RUN_SHELL_COMMAND CMD=DATA_SYNC
    SAVE_VARIABLE VARIABLE=allcalibrate VALUE=1     # sets varibale allcalibrate = 1
    G28             # homing of all axis: X,Y,Z
    G1 X200 Y30     # moves nozzle to X=200 y=30
    G1 Z256         # moves z-axis ti 256mm hight

# used for factory hardware check    
[gcode_macro eryone_check]
gcode: 
    G28                                                 # homing of all axis: X,Y,Z
    SET_PIN PIN=LED VALUE=0.50                          # set LED to 50% brigthnes
    SET_FAN_SPEED FAN=chamber_exhaust_fan SPEED=0.5     # turns on the fan and sets it to 50%
    SET_FAN_SPEED FAN=electronics_bay_fan SPEED=0.5     # turns on the fan and sets it to 50%
    M106 S100                                           # Activates the part cooling fan. and sets it to 39% (max = 255 --> 100/255 = 39%)


# used for factory hardware check
[gcode_macro eryone_test_2]
gcode: 
	G1 X{params.X|default('240')} Y0 F6000
        # G1 - linear movement command
        # X{...} - use value provided by calling function. if nothing is handed over use X=240
        # Y0 - Move to Y=0
        # F6000 - Feedrate 6000mm/min (100mm/s)


################################################################################################
# Z_TILT
#
# !! Z_TILT can only hande 2-3 stepper motors on Z axis. x400 has 4 stepper motors.
# ??? WHy is oit configured here ???
#
# Indipendently adjustment of multiple z steppers
# DrKlipper: https://youtu.be/nqGv3xfeXKA?si=lGokYWGard-73SrD&t=1903
################################################################################################
[z_tilt]
z_positions:
     50,50
    50,320
    320,320
    320,50
points:
    50,50
    50,320
    320,320
    320,50
horizontal_move_z: 6
speed:120
retries: 7
retry_tolerance: 0.1



################################################################################################
################################################################################################
# Old stuff, which I replaced entirely
################################################################################################


######################################################
[gcode_macro _homing_override_by_eryone]           # replaces the behaviopur of G28 gcode command. Adds intelligent, conditional logic for how to home the axes, especially when using a probe
# original form Eryone
# homing_override --> Is responsible vor all homing activities

# !! set_position_z is commented out because it is valid only in homing_override and not in a gcode_macro
#set_position_z: 0       # If specified, the printer will assume the axis is at the specified position prior to running the g-code commands.
                        # Setting this disables homing checks for that axis. This may be useful if the head must move prior to invoking the normal G28 mechanism for an axis.
                        # The default is to not force a position for an axis.

gcode:
    M400
    {% if 'x' not in printer.toolhead.homed_axes and 'y' not in printer.toolhead.homed_axes  %}     # If X and Y are not homes xeat, raise Z a bit for safety
       { action_respond_info("z rise") }    # Sends message to user interface
       SET_PIN PIN=Board_FAN VALUE=0.8
       reset_probe_adc     # calls the macro reset_probe_adc
       G91                 # Puts printer into relative positoning mode. All movenete commands are relative to the current position. (oposite of G90)
       G1 Z3               # lift Z by 3mm
       G90                 # Puts printer into absoulute positioning mode. All movements commands are from the origin. (oposite of G91)
    {% endif %}
    
    {% if params.X is defined %}                    # If G28 X was requested
        { action_respond_info("Homing X") }
        G28 X                                       # homes X
    {% endif %}

    {% if params.Y is defined %}                    # If G28 Y was requested
        G28 Y                                       # homes Y
        { action_respond_info("Homing Y") }
    {% endif %}

    {% if params.Z is defined %}    # If G28 Z was requested
        M400
        G1 X200 Y200 F6000          # Moves bed to 200,200
        RS_probe                    # calls the macro RS_Probe
        G28 Z                       # homes Z
        G1 Z5                       #lift Z by 5mm
        { action_respond_info("Homing Z") }
    {% endif %}

    {% if params.X is undefined and params.Y is undefined and params.Z is undefined%}       # if no parameters are given (G28 withour arguments)
        { action_respond_info("Homing all") }

        # param.N is non standard. called in gcode_macro CLEAN_N
        {% if params.N is undefined %}      # If called without 'N'
            # It is the same a the three (if x,y,z) above.
            { action_respond_info("Homing default") }
            G28 X Y                     # homes X and Y
            G1 X200 Y200 F6000
            M400
            RS_probe
            G28 Z
            G1 Z5
        {% endif %}       
        
        {% if params.N is defined %}        # If called 'G28 N'
            {% if 'xy' not in printer.toolhead.homed_axes  %}
                { action_respond_info("Homing of XY needed first") }
            {% else %}
                { action_respond_info("Homing Z where it is right noq") }
                M400
                RS_probe
                G28 Z
                G1 Z5
            {% endif %}
        {% endif %}
    {% endif %}
    M400
    RS_probe                 # calls the macro RS_Probe
