################################################################################################
# File: printing_mgmt_eryone_toolhead.cfg
# Author: Eryone / Modified by Andreas
# Date: 2025001009
# purpose: Print job management (start, paus, end, powerloss)
#
# include in printer.cfg
################################################################################################
#
# Content:
#   _chamber_exhaust_fan_off
#   _electronics_bay_fan_off
#   PRINT_START
#   PRINT_END
#   _INTRO_LINE
#
################################################################################################


################################################################################################
# Fan off delay
################################################################################################
[delayed_gcode _chamber_exhaust_fan_off]
# Description:  The fan will turn off after the provided amount of time
    # HowTo call: UPDATE_DELAYED_GCODE ID=chamber_exhaust_fan_off DURATION=300    # Schedule chamber exhaust fan to turn off after 5 minutes (300s)
gcode:
    SET_FAN_SPEED FAN=chamber_exhaust_fan SPEED=0

#####################################
[delayed_gcode _electronics_bay_fan_off]
# Description: The fan will turn off after the provided amount of time
    # HowTo call: UPDATE_DELAYED_GCODE ID=electronics_bay_fan_off DURATION=300    # Schedule electronics bay fan to turn off after 5 minutes (300s)
gcode:
    SET_FAN_SPEED FAN=electronics_bay_fan SPEED=0


################################################################################################
# Macros
################################################################################################
# ::: Macros :::
# - PRINT_START
# - PRINT_END
#
# ::: Custom Macros :::
# PRINT_CONTINUE  -  belongs to PLR
#
# Klipper commands:
# - x PAUSE
#       Ideas: https://github.com/Frix-x/klippain/blob/main/macros/base/pause_resume.cfg
#              https://github.com/EricZimmerman/Voron24/blob/PreKlippain/macros/print_base/print_pause_resume.cfg
# - x RESUME
#       Ideas: https://github.com/Frix-x/klippain/blob/main/macros/base/pause_resume.cfg
               https://github.com/EricZimmerman/Voron24/blob/PreKlippain/macros/print_base/print_pause_resume.cfg
# - x CANCEL_PRINT
#        Ideas: https://github.com/Frix-x/klippain/blob/main/macros/base/cancel_print.cfg
#               https://github.com/EricZimmerman/Voron24/blob/PreKlippain/macros/print_base/print_cancel.cfg
# - x CLEAR_PAUSE       - clear a paused state and allow the printer to resume normal operation. You don’t have to use it manually unless you’re scripting macros that use PAUSE.
#
# ::: Helper Macros :::
# - INTRO_LINE (PURGE_LINE / PRIME_LINE) --> moved to eryone_stuff.cfg
# - x HEATSOAK
#
# More ideas: https://github.com/minimal3dp/voron24r2pro/blob/main/printer_data/config/macros.cfg


##############################################################
[gcode_macro PRINT_START]
description: Runs at the beginning of a print job. Includes logic for AI-based object detection
# Variables are available globally
variable_slicer_bed_temperature_initial_layer: 0.0
variable_slicer_hotend_temperature_first_layer: 0.0
variable_slicer_chamber_temperature: 0.0
gcode:
    M117 PRINT_START: Preparing printer to print

    _status_bar PS="preparing"

    M400
    CLEAR_PAUSE

    {% if not printer["filament_switch_sensor toolhead_filament_sensor"].filament_detected %}     # Check: Is filament inserted
        {action_respond_info("No filament detected — aborting. Please insert filament — start will continue automatically.")}
        PAUSE
        # When filament is inserted, [filament_switch_sensor toolhead_filament_sensor] insert_gcode is executed: LOAD_FILAMENT SPEED=1 MODE=RUNOUTDETECTION + CLEAR_PAUSE  +  RESUME
    {% endif %}

    UPDATE_DELAYED_GCODE ID=_chamber_exhaust_fan_off DURATION=0  # Cancel any pending chamber exhaust fan shutdown
    UPDATE_DELAYED_GCODE ID=_electronics_bay_fan_off DURATION=0  # Cancel any pending electronics bay fan shutdown
    #SET_FAN_SPEED FAN=chamber_exhaust_fan SPEED=0.5             # set fan to 90% speed --> Not working, because it is a "temperature_fan"
                                                                 # Work arround: SET_TEMPERATURE_FAN_TARGET FAN=chamber_exhaust_fan TARGET=40
    #SET_FAN_SPEED FAN=electronics_bay_fan SPEED=1               # set fan to 100% speed --> Not working, becaus it is a "controller_fan"

    ###################################
    # ::: Get variables from slicer :::
    #   The following must be part of the slicers Machine start G-code:
    #       by Eryone: PRINT_START BED={bed_temperature_initial_layer_single} EXTRUDER={first_layer_temperature}
    #       by Voron with error: PRINT_START EXTRUDER={first_layer_temperature[initial_extruder] + extruder_temperature_offset[initial_extruder]} BED=[first_layer_bed_temperature] CHAMBER=[chamber_temperature]
    #       by Andreas: PRINT_START EXTRUDER=[first_layer_temperature[initial_extruder]] BED=[bed_temperature_initial_layer] CHAMBER=[chamber_temperature]
    {% set slicer_bed_temperature_initial_layer = params.BED|float %}
    {% set slicer_hotend_temperature_first_layer = params.EXTRUDER|float %}
    {% set slicer_chamber_temperature = params.CHAMBER|float %}

    {% if printer.save_variables.variables.use_ai==True %}  # If AI is activated (Variable in variable.cfg)
        M117 Detecting object on the Bed with Camera ... 
        SET_PIN PIN=LED VALUE=1                     # Turns on the LED to 100%
        M84                                         # M18=M84 - Diable all stepper motors. Printer stays still during detection (no jitter and power draw)
        M117 PRINT_START: Detecting object on the Bed with Camera ...    # Display message on Screen
        RUN_SHELL_COMMAND CMD=DETECT_BED_OBJECT     # Calls: gcode_shell_command DETECT_BED_OBJECT
        G4 P8000                                    # pauses for 8000ms (8sec) to allow the detection script run

        # Maybe 2nd round with toolehad out of the way (Question by andreas)
            # if nothing detected:
                #G90                                         # set absolute mode
                #G1 X395 Y395
                # ...
                #RUN_SHELL_COMMAND CMD=DETECT_BED_OBJECT     # Calls: gcode_shell_command DETECT_BED_OBJECT
                #G4 P8000                                    # pauses for 8000ms (8sec) to allow the detection script run

        SET_PIN PIN=LED VALUE=0.1                            # Set LED grightness to 10%
        M117 PRINT_START: Object detection completed.        # Display message on Screen
    {% endif %}

    ###################################
    # ::: Show variables handed over by slicer :::
    { action_respond_info("Bed Temperautre for first layer: %.2f" % slicer_bed_temperature_initial_layer) }
    { action_respond_info("Hotend Temperature for first layer: %.2f" % slicer_hotend_temperature_first_layer) } 
    { action_respond_info("Chamber target temeprature: %.2f" % slicer_chamber_temperature) } 


    ###################################
    # ::: Prepare print :::
    
    M117 PRINT_START: Start heating printbed
    M140 S{slicer_bed_temperature_initial_layer}        # Set bed temp (upfront to save time.  This early, due to long heating time.

    M117 PRINT_START: Homing axis
    G28

    M117 PRINT_START: Start chamber heating
    G1 Z50                                              # Move gantry away from chamber heater hot air output
    M141 S{slicer_chamber_temperature} BS{slicer_bed_temperature_initial_layer}                # Set chamber temperature

    M220 S100                                           # reset the print speed to 100%

    M117 PRINT_START: Waiting for chamber reaching temperature
    M191 S{slicer_chamber_temperature} BS{slicer_bed_temperature_initial_layer}     # Set chamber temperature - Wait until temperature reached
    
    M117 PRINT_START: Waiting for printbed reaching temperature
    M190 S{slicer_bed_temperature_initial_layer}        # Set bed temp and wait until reached           # From Orca slicer-s Machine start G-code (by eryone)
  
    M117 PRINT_START: Start Quad gantry level
    QUAD_GANTRY_LEVEL S={slicer_bed_temperature_initial_layer}   # QGL includes homing of axis
    G90                                                 # set absolute mode
    G28 Z                                               ; re-home Z if QGL used (Voron style)
    #G1 Z5 F3000                                        # move nozzle away from bed   - Toolhead is moved via PARK_POSITION atht the end of QGL

    # M117 PRINT_START: Start bed mesh level
    BED_MESH_CLEAR                                      # source: https://github.com/Frix-x/klippain/blob/main/macros/base/start_print.cfg
    BED_MESH_CALIBRATE                                  # Calls the KAMP-Version.  # Eryone calls this in Orca slicer-s Machine start G-code

    M117 PRINT_START: Start nozzle cleaning
    _CLEAN_N S={slicer_hotend_temperature_first_layer|float} X=100 Y=-3 A=0 D=0.4    # From Orca slicer-s Machine start G-code (by eryone)
        # X = X axis starting point for cleaning process
        # Y = Y axis starting point for cleaning process
        # A = Distance from the front and back edges of the bed where movement should stop.
        # S =  Nozzle target temperature for cleaning
        # D = Nozzle diameter
    
    M117 PRINT_START: Start heating bed and nozzle for first layer
    M140 S{slicer_bed_temperature_initial_layer}        # Set bed temp (upfront, because of long heating time.)
    M104 S{slicer_hotend_temperature_first_layer}       # Set extruder temp

    M117 PRINT_START: Moving toolhead to purging position - Prevent dripping filament onto the printbed
    G90
    G1 X0 Y100 Z50                                      # It is here to safe some time during print start & Avoid toolhead too close above bed during heating process.
    #G1 X0 Y100 Z10                                      # It is here to safe some time during print start
    #G1 Z50                                              # Avoid toolhead too close above bed during heating process.

    M117 PRINT_START: Heating bed and nozzle for first layer - waiting for temperature reached
    M109 S{slicer_hotend_temperature_first_layer}       # Set extruder temp and wait until reached      # From Orca slicer-s Machine start G-code (by eryone)
    M190 S{slicer_bed_temperature_initial_layer}        # Set bed temp and wait until reached           # From Orca slicer-s Machine start G-code (by eryone)

    M117 PRINT_START: Start INTRO_LINE
    #_INTRO_LINE D=0.4      # intro line with 0.4 mm nozzle     # From Orca slicer-s Machine start G-code   # (by eryone)
        # To test: KAMPs Adaptive line purging.
    LINE_PURGE  # KAMP: purge line
    # firmware retration for KAMP needed: https://www.klipper3d.org/Config_Reference.html?h=retract#firmware_retraction

    M117 PRINT_START: Completed.
    _status_bar PS="progress"


##############################################################
[gcode_macro PRINT_END]
description: Cleanup routine after a print finished
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    # Berechnung der möglichen positionen
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}       # Wenn bis rechter Grenze mehr als 20mm Platz ist --> +20mm (nach rechts), sonst -20mm (nach links)
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}       # Wenn nach hinten 20mm Platz ist --> +20mm (nach hinten), sonst -20mm (nach links)
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}                                       # Wenn nach oben 2mm Platz ist --> +2mm (nach oben), sonst maximmal mögliches nach oben.
    
    # The purpose of the SAVE_GCODE_STATE/RESTORE_GCODE_STATE command pair is to restore the printer's coordinate system and speed settings since the commands above change them.
    SAVE_GCODE_STATE NAME=STATE_PRINT_END

    #SET_FAN_SPEED FAN=chamber_exhaust_fan SPEED=0.5                    # Turn on chamber exhaust fan. Turn off via IDLE_TIMEOUT
                                                                        # Not working, becaus it is a "temperaturer_fan"
    #UPDATE_DELAYED_GCODE ID=_chamber_exhaust_fan_off DURATION=300      # Schedule chamber exhaust fan to turn off after 5 minutes (300s)  - Alternative to IDLE_TIMEOUT
    #SET_FAN_SPEED FAN=chamber_recirculating_fan SPEED=1                 # Turn on chamber recirculating fan. Turn off via IDLE_TIMEOUT
                                                                        # Not working

    SAVE_VARIABLE VARIABLE=filename VALUE='".gc"'                       # saves the value to the varibale

    # Move nozzle away from print while retracting
    M400                    # Wait for buffer to clear
    G91                     # Switch to relative mode
    G92 E0                  # zero the extruder position # https://github.com/VoronDesign/Voron-2/blob/Voron2.4/firmware/klipper_configurations/M8P/Voron2_M8P-v2.0_config.cfg 
    G1 E-2.6 F300           # Retract filament by 2,6mm. Prevents oozing.
    
    G90                 # Switch to absolute mode
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000     # Move nozzle to remove stringing.

    # Park toolehad
    G90                  # Switch to absolute mode
#    PARK_TOOLHEAD       # Calls gcode_macro PARK: Park toolhead
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear


    # Turn off heaters and fan(s)
    TURN_OFF_HEATERS
    #M140 S0           # Turn off heated bed (temperature = 0°C) --> Done via TURN_OFF_HEATERS
    #M104 S0           # Turn off extruder (temperature = 0°C) --> Done via TURN_OFF_HEATERS
    #M106 S0           # Set speed of fan (=part cooling fan) to 0 (=Turn fan off) --> Done via M107
    M107               # Turn off fan (=part cooling fan)                         

    M400
    M84                 # Disable steppers

    #SET_FAN_SPEED FAN=electronics_bay_fan SPEED=0.5                    # Turn on the electronics bay fan. Turn off via IDLE_TIMEOUT - Needs to be below M84 command
                                                                        # Not working, becaus it is a "controller_fan"
    #UPDATE_DELAYED_GCODE ID=_electronics_bay_fan_off DURATION=300      # Schedule electronics bay fan to turn off after 5 minutes (300s) - Alternative to IDLE_TIMEOUT

    # Reset status
    CLEAR_PAUSE
    BED_MESH_CLEAR
    SDCARD_RESET_FILE
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END MOVE=0     # Restore the printer's coordinate system and speed settings since the commands above change them. To prevent any accidental, unintentional toolhead moves when restoring the state, explicitly set MOVE=0.

    #SET_PIN PIN=LED VALUE=0                                            # Turn chamber light off
    UPDATE_DELAYED_GCODE ID=_chamber_light_delayed_off DURATION=300     # Turn off the chamber light after 5 minutes (300sec)
    _status_bar PS="complete"


################################################################################################
# Power-Loss Recovery
#################################################################################################
# [gcode_macro PRINT_CONTINUE]
# --> In printjob_mgmt.cfg


################################################################################################
# Helper Macros
################################################################################################
[gcode_macro  _INTRO_LINE]
description: The intro line before printing
    # Prints intro Line of a filament before acctual print starts - to prime the nozzle and ensure consistent extrusion
    # Sometimes also mamed as: PURGE_LINE & PRIME_LINE
gcode:  
    # Handle the nozzle diameter (optinal param)
#    {% set diameter_n = 0.4 %}                                      # Defines a default diameter_n withg the calue 0.4mm
#    {% if params.D %}                                               # Checks wether the macro was walled with a parameter D. (eg. INTRO_LINE D=0.6)
#	    { action_respond_info("nozzle diameter %s "%params.D) }     # Display the diameter on the UI
#	    {% set diameter_n = params.D|default(0.4)|float %}          # Set the diameter_n to the value handed over.
#	{% endif %}

    {% set diameter_n = 0.4 %}  
    {% set diameter_n = params.D|default(0.4)|float %}          # Set the diameter_n to the value handed over.
    { action_respond_info("nozzle diameter %.2f" % diameter_n) }     # Display the diameter on the UI

    {% if diameter_n == 0.4 %}      # If the nozzle is 0.4mm, the following code will be executed
        G92 E0.0                    # Reset the extruder position to zero (E=0)

        ; intro line                
        G1 X210.0 E10 F1000         # Moves the toolhead to X=210 and extrudes 10mm of filament. The feedrate is set to 1000mm/min (=16.7mm/s)
        G1 Y0.6                     # Nudge slightly upward to clean up the line, avoiding blobs
        G1 X250.0 E5 F1000          # s.o.

        G92 E0.0                    # Reset the extruder position to zero (E=0)
        M117 .                      # Shows message on LCD
    {% endif %}


