################################################################################################
# File: old_stuff.cfg
# Author: Andreas
# Date: 20251017
# purpose: Old stuff which is not used anymore.
# 
################################################################################################

################################################################################################
################################################################################################
[gcode_macro UNLOAD_FILAMENT_OLD]
description: Unload Filament
  # KlipperScreen Macro is different: https://klipperscreen.readthedocs.io/en/latest/macros/
  # ??? !!! Alternatvie to check and incorporate: https://github.com/Frix-x/klippain/blob/main/macros/helpers/filament_swap.cfg
gcode:
  ################################
  # ::: Define variables :::
  {% set NOZZLE_TEMP = params.NOZZLE_TEMP|default(220)|float %}
  {% set SPEED       = params.SPEED|default(0)|int %}
  {% set MODE        = params.MODE|default("AUTO")|string %}  # START, RUNOUTDETECTION, AUTO. [runout]-insert_gcode: ruf dies mit RUNOUTDETECTION auf.
    # Decide whether homing is allowed:
    # - MODE=START: allow homing (start-of-print prep)
    # - MODE=RUNOUTDETECTION: never home (mid-print runout recovery)
    # - MODE=AUTO: allow homing only if not printing yet. Default: AUTO (if no parameter was handed over)
  {% set allow_home = (
        (MODE == "START") or
        (MODE == "AUTO" and printer.print_stats.state not in ["printing", "paused"])
    ) %}

  { action_respond_info("nozzle TEMPERATURE %s "%NOZZLE_TEMP) }
  { action_respond_info("Unload Filament printing %d" % ( params.SPEED|default(0)|int )) }

  ################################
  # ::: Check ::: 
  {% if printer['filament_switch_sensor toolhead_filament_sensor'].filament_detected %}   # Check if filemant snsor detected a filament.

    M117 Filament detected. Starting the unload process.
    { action_respond_info("Filament detected. Starting the unload process.") }
    _status_bar PS="progress"
  
    {% if printer.pause_resume.is_paused == False and params.SPEED|default(0)|int == 0 %}     
      { action_respond_info("pausing") }
      PAUSE       # Calls the Klipper PAUSE macro
      G4 P1000
      ;SET_IDLE_TIMEOUT TIMEOUT=864000    # Witing for one day (in seconds)
    {% endif %}  

    {% if 'xy' not in printer.toolhead.homed_axes or printer.toolhead.position.x==395  %}   # When in mid Print, axis should be homed. During Print start, nothing is homed at the point of PAUSE.
      M117 UNLOAD_FILAMENT: Homing needed. Calling G28 X Y
      { action_respond_info("UNLOAD_FILAMENT: Homing needed. Calling: G28 X Y") }
      G28 X Y                                                             # If X or Y not homed, all axis X,Y,Z will be homed. Even if G28 X Y is called.
      { action_respond_info("z%f " %  printer.toolhead.position.z) }
      {% if 'z' not in printer.toolhead.homed_axes %}                     # As soon as G28 X Y is axecuted, z is assuemd as homed due to "set_position_z:0" in [homing_override]
        SET_KINEMATIC_POSITION Z={ printer.toolhead.position.z }          # If this is done (without Z homing, like in eryones code) the toolhead might end up on the bed or up in the air.
      {% endif %}
    {% endif %}

    SAVE_GCODE_STATE NAME=unload_filament

    ################################
    # ::: Unload process ::: 
    M104 S{NOZZLE_TEMP}   # Set nozzle temperature to safe time later at M109 command.

    M117 UNLOAD_FILAMENT: Move toolhead
    G90
    G1 X0 Y50 Z10 F3600    # move toolhead to pruging position

    #{% if printer[printer.toolhead.extruder].target < 190 or printer[printer.toolhead.extruder].temperature + 3 < printer[printer.toolhead.extruder].target  %}
      M117 UNLOAD_FILAMENT: Heating nozzle
      M109 S{NOZZLE_TEMP}
    #{% endif %}   

    # Extruder rotation to unload
    G91                   # Use relative coordinates for move commands
    M83                   # Put the extruder into relative mode
    G92 E0.0              # Set position pf extruder to 0 - Tell Klipper taht the current position of the extruder is 0.

    M117 UNLOAD_FILAMENT: Prepare forming tip on filament
    G0 E-5 F2000          # extract a bit
    G0 E5 F300            # move filament back in
      
    G0 E-30 F3000         # forming filament Tip for Rapido -> from ERCF V3 ercf_software.cfg
  
    M117 UNLOAD_FILAMENT: Forming tip on filament
    G0 E2 F300            # Move filament in
    G0 E-2 F300           # Move filament out
    G0 E2 F300
    G0 E-2 F300
    G0 E2 F300
    G0 E-2 F300
    G0 E2 F300
    G0 E-2 F300
    G0 E2 F300
    G0 E-2 F300
    G0 E2 F300
    G0 E-2 F300
    G0 E2 F300
    G0 E-2 F300
    G0 E2 F300
    G0 E-2 F300
    G0 E2 F300
    G0 E-2 F300
    G0 E2 F300
    G0 E-2 F300
    G0 E2 F300
    G0 E-2 F300
    G0 E2 F300
      
    M117 UNLOAD_FILAMENT: Unloading filament
    G0 E-40 F1800         # Puke filament out fast

    G92 E0.0              # Set position of extruder to 0
    M82                   # Put the extruder into absolute mode.
    G90                   # Use absolute coordinates for move commands

    # PReventing filament sticking to the nozzle.
    M104 S0     # Turn off nozzle heater
    M106 S127   # Use part cooling to harden the material. Not 255=100% because filament drys too fast.
    G4 P5000    # Wait 5 seconds
    M107        # Stop part cooling fan
    G1 Z{poop_height_z + ooze_offset_z - 10}

    RESTORE_GCODE_STATE NAME=unload_filament MOVE=0

    M117 UNLOAD_FILAMENT: Complete. Filament can now be removed.

  {% else %}
    M117 No filament detected. Nothing to unload.
    { action_respond_info("No filament detected. Nothing to unload.") }
  {% endif %}
  _status_bar PS="idle"
################################################################################################
################################################################################################

######################################################
[gcode_macro _homing_override_v1]
    # homing_override takes over the full controll of homing. So this is needed to call teh homing routines. Here custom honing gcode_macros
    # reference: https://github.com/EricZimmerman/Voron24/blob/PreKlippain/macros/helpers/homing.cfg

    # ??? !!! Alternative (mybe better) way to home. Without set_position_z
    #   https://github.com/Frix-x/klippain/blob/main/macros/base/homing/homing_override.cfg
    # ??? !!! Voron is unsing:  SET_KINEMATIC_POSITION Z=1 SET_HOMED=Z
    #   https://github.com/EricZimmerman/Voron24/blob/PreKlippain/macros/helpers/homing.cfg

#axes: xyz               # Defines which axes this custom homing override(s) applies to.
                        # For example, if this is set to "z" then the override script will only be run when the z axis is homed (eg, via a "G28" or "G28 Z0" command).
                        # Note, the override script should still home all axes.
                        # The default is "xyz" which causes the override script to be run in place of all G28 commands.
#set_position_z: 0      # If specified, the printer will assume the axis is at the specified position prior to running the g-code commands.
                        # Setting this disables homing checks for that axis. This may be useful if the head must move prior to invoking the normal G28 mechanism for an axis.
                        # The default is to not force a position for an axis.
gcode:
    # Define variables    
        {% set home_all = 'x' not in params|lower and 'y' not in params|lower and 'z' not in params|lower and 'n' not in params|lower %}   # If G28 was called, without parameters, then: home_all == True
                 # {% set home_all = (params|length == 0) %}    # Not working. Because G28 always handes over params = {'G': '28'}
        {% set home_all = 'x' not in printer.toolhead.homed_axes|lower or 'y' not in printer.toolhead.homed_axes|lower %}       # if x or y axis are not homed: home_all == True  -  Why? Because Z is set to homed, even if it is not homed. "set_postiion_z: 0" (by andreas)

    # Debuging: Print variables
        {% set homing_parameters = params %}

        {action_respond_info("G28 handed over params = " ~ params|string)}
        {action_respond_info("homing_parameters = %s "%homing_parameters)}
        {action_respond_info("home_all = " ~ home_all)}
        {action_respond_info("printer.toolhead.homed_axes = " ~ printer.toolhead.homed_axes)}

        {% if 'x' not in printer.toolhead.homed_axes|lower %}
            { action_respond_info("x axis not in printer.toolhead.homed_axes") }
        {% else %}
            { action_respond_info("x axis is in printer.toolhead.homed_axes") }
        {% endif %}
        {% if 'y' not in printer.toolhead.homed_axes %}
            { action_respond_info("y axis not in printer.toolhead.homed_axes") }
        {% else %}
            { action_respond_info("y axis is in printer.toolhead.homed_axes") }
        {% endif %}
        {% if 'z' not in printer.toolhead.homed_axes %}
            { action_respond_info("z axis not in printer.toolhead.homed_axes") }
        {% else %}
            { action_respond_info("z axis is in printer.toolhead.homed_axes") }
        {% endif %}
        {% if 'e' not in printer.toolhead.homed_axes %}
            { action_respond_info("e axis not in printer.toolhead.homed_axes") }
        {% else %}
            { action_respond_info("e axis is in printer.toolhead.homed_axes") }
        {% endif %}
        { action_respond_info("-") }


    M400    # M400 - wait to finish all pending moves/process the buffer

    QUERY_PROBE         # Refresh probe state
    QUERY_ENDSTOPS      # Refresh endstop states
        # M118 X: {printer['query_endstops'].last_query['stepper_x']}  ; 0 or 1
        # M118 Y: {printer['query_endstops'].last_query['stepper_y']}  ; 0 or 1
        # M118 Z: {printer['query_endstops'].last_query['stepper_z']}  ; 0 or 1
    {% if printer.probe.last_query == 1 or printer['query_endstops'].last_query['stepper_z'] == 1 or ('x' not in printer.toolhead.homed_axes and 'y' not in printer.toolhead.homed_axes) %}
        # Z is shown as homed due to "set_position_z: 0". So this complex workarround is needed.

        #{% if 'x' not in printer.toolhead.homed_axes and 'y' not in printer.toolhead.homed_axes  %}
        #{% if 'z' not in printer.toolhead.homed_axes|lower %}   # If Z not homed
        #{ action_respond_info("z not in printer.toolhead.homed_axes: Lifting Z by 5mm") }
        #SET_KINEMATIC_POSITION Z=1 SET_HOMED=Z     # Tells Klipper that the toolhead is vurrently on Z=0.
        # Lift the nozzle for safety reasons. "SET_KINEMATIC_POSITION Z=0" ist set above "gcode:". As result the toolhead can be moved. When the nozzle is touching the bed an X or Y movement is nititated, the bed will be scratched. Or wors.
        
        M117 Lifting Z by 3mm
        { action_respond_info("Lifting Z by 3mm") }
        M400
        G91                             # Puts printer into relative positoning mode. All movenete commands are relative to the current position. (oposite of G90)
        G1 Z3 F1000                     # Lift Z by 5mm. For saftey that it does not scratch the print bed.
        G90                             # Puts printer into absoulute positioning mode. All movements commands are from the origin. (oposite of G91)

        M117 Call: reset_probe_adc
        { action_respond_info("Call: reset_probe_adc") }
        M400
        reset_probe_adc     # Call macro to reset z-nozzle probe chip

        #SET_KINEMATIC_POSITION Z=0     # Set the new, higher Z position as new Z=0. So the nozzle can not go below Z5 and hit the bed.
        #SET_HOMED_AXES AXES=
    #{% elif 'z' in printer.toolhead.homed_axes|lower %}     # if Z homed
    #    G90
    #    G1 Z5 F1000     # Move nozzle 5mm above bed.  # Not good, when PLR restart is executed.
    {% endif %}    

    M400

    {% if home_all or 'x' in params|lower %}      # if G28 X was called
        M117 Homing X
        { action_respond_info("Homing X") }

        # Defines the amount of current during homing
        {% set HOMING_STEPPER_XY_RUN_CURRENT = (printer.save_variables.variables.andreas_homing_stepper_xy_run_current|default(0.49))|float %}

        # Get actual current settings for stepper motors
        {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
        {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}

        # Reduce current on Stepper-Motors
        SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOMING_STEPPER_XY_RUN_CURRENT}
        SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOMING_STEPPER_XY_RUN_CURRENT}
    
        M400
        G28 X       # homes X

        G91             # Set to relative mode
        G1 X-15 F1200   # Move toolhead away from enstop switch when finished to remove stress from the mechanic
        G90

        # Set back current on Stepper-Motors
        SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
        SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}
    {% endif %}
  
    M400

    {% if home_all or 'y' in params|lower %}
        M117 Homing Y
        { action_respond_info("Homing Y") }

        # Defines the amount of current during homing
        {% set HOMING_STEPPER_XY_RUN_CURRENT = (printer.save_variables.variables.andreas_homing_stepper_xy_run_current|default(0.49))|float %}

        # Get actual current settings for stepper motors
        {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
        {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}

        # Reduce current on Stepper-Motors
        SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOMING_STEPPER_XY_RUN_CURRENT}
        SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOMING_STEPPER_XY_RUN_CURRENT}
    
        M400
        G28 Y       # homes Y

        G91             # Set to relative mode
        G1 Y-15 F1200   # Move toolhead away from enstop switch when finished to remove stress from the mechanic
        G90

        # Set back current on Stepper-Motors
        SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
        SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}
    {% endif %}
  
    M400

    {% if home_all or 'z' in params|lower %}
        M117 Homing Z
        { action_respond_info("Homing Z") }

        # stepper motor run_current reduction is done in [probe] section
        # Nozzle temperature is set in [probe]
        
        M400
        G90         # Set to absolute mode
        G1 X200 Y200 F6000
        
        RS_probe    # calls the macro RS_Probe

        M400
        G28 Z

        G90             # Set to absolute mode
        G1 Z5 F1200     # Lift Toolhead to 5mm above the print bed to remove stress from zhe piezzo element
    {% endif %}

    M400
    {% if 'n' in params|lower %}
        # Command: G28 N - Homes the nozzle at its current postition (Z axis only). No movement of the toolhead to the middle of the bed.
        # "G28 N" is called in printjob_mgmt.cfg [gcode_macro _CLEAN_N]
        M117 Homing G28 N
        { action_respond_info("Homing G28 N") }
        {% if 'xy' not in printer.toolhead.homed_axes  %}       # If not homed on X and Y
            { action_respond_info("Homing XY first") }
        {% else %}
            { action_respond_info("Homing Z at current position") }
            M400
            RS_probe
            M400
            G28 Z
            G90
            G1 Z5 F1200        # Lift Toolhead to 5mm above the print bed to remove stress from zhe piezzo element
        {% endif %}
    {% endif %}
