################################################################################################
# File: homing.cfg
# Author: Andreas
# Date: 20260828
# purpose: Homing for INDX
# 
# The homing.cfg is mentioned Bondtech`s ReadMe, but dies not exist on their GitHub Repo.
# So i crearted my own
# 
#included in printer.cfg
################################################################################################
#
#
################################################################################################
# Description: X/Y cooridnates and Endsops
################################################################################################
#
#       [Back / Y-Max: 500]
#       +---------------------+ [Y-Endstop]
#       |   ---------------   |
#       |   |             |   |
# Left  |   | Build Plate |   | Right / X-Max
# (X:0) |   |  (400x400)  |   | (X:500)
#       |   |             |   |
#       |   ---------------   |
#       |                     |
#       +---------------------+ [X-Endstop]
#    (0,0)   [Front / Y-Min: 0]
#
# 00 is only a placeholder. Will be more on the printer.
# [X-Endstop] is on tolhead Moint (x-carriage).
# [Y-Endstop] is on Gantry at tthe descriped position.
#

################################################################################################
# Bondtech homing recommendation
################################################################################################
# source: https://github.com/BondtechAB/INDX/tree/main#homing-order-important

# 1. Move Z up slightly to clear the bed before any XY movement (move bed down if using a bed raiser)
# 2. Home Y (with reduced TMC current for sensorless homing)
# 3. Home X (with reduced TMC current for sensorless homing)
# 4. If any tool other than T0 is active: park it in the dock
# 5. If T0 is not already picked up: pick up T0
# 6. Move to bed centre and home Z


# With a dock mounted on your printer, the default homing sequence can cause crashes. The Smart Head must move away from the dock before X is homed, and Z homing needs a seated tool (the load cell is the nozzle probe).
# The INDX macro package includes a ready-to-use [homing_override] in homing.cfg that handles all of this. Its sequence, in full:
# 1. Raise Z to probe_z_clearance (set in indx.cfg). If Z is unknown, hop that height then un-home Z so the later probe is a real home.
# 2. Home Y. G28 X with Y unknown homes Y first.
# 3. Home X. If Y was already homed and the head is still on the dock side (dock_dir in indx.cfg), move to clearance_y first so X does not sweep the dock.
# 4. Before Z, read the load cell. The saved tool number is not enough:
#     Tt can say empty while a tool is still locked, which would crash a T0 pickup.
#     Missing or uncalibrated cell is an error.
#     Tune seat with home_min_force_g in indx.cfg (default 800). 
#     If nothing is seated and Z has never been homed, seat a tool by hand. If Z is already known, pick T0. 
#     If a tool is already locked and the cell agrees, home Z with that tool.
# 5. Move to the probe XY (probe_x / probe_y, or bed centre) and home Z.
#CAL_Z still stores per-tool Z offsets relative to T0. Homing no longer requires T0 when another tool is already locked and the load cell confirms it.
# If you use sensorless XY homing, wrap the G28 Y / G28 X steps in your usual TMC current reduce/restore (merge into the override if you already have one).

################################################################################################
# Homing Override
################################################################################################
#
# In Entwicklung von Andreas
#
[homing_override]
# description: homing_override takes over the full controll of homing. So this is needed to call teh homing routines. Here custom honing gcode_macros
# reference: https://github.com/EricZimmerman/Voron24/blob/PreKlippain/macros/helpers/homing.cfg
#            https://github.com/Frix-x/klippain/blob/main/macros/base/homing/homing_override.cfg
#            https://github.com/EricZimmerman/Voron24/blob/PreKlippain/macros/helpers/homing.cfg

axes: xyz               # Defines which axes this custom homing override(s) applies to.
                        # For example, if this is set to "z" then the override script will only be run when the z axis is homed (eg, via a "G28" or "G28 Z0" command).
                        # Note, the override script should still home all axes.
                        # The default is "xyz" which causes the override script to be run in place of all G28 commands.
#set_position_z: 0      # If specified, the printer will assume the axis is at the specified position prior to running the g-code commands.
                        # Setting this disables homing checks for that axis. This may be useful if the head must move prior to invoking the normal G28 mechanism for an axis.
                        # The default is to not force a position for an axis.
gcode:

    #--------------------------------------------------------------------------------
    # Define variables    
    {% set debug_mode = printer.save_variables.variables.andreas_debug_mode|default(False) %}

    {% set home_all_1 = 'x' not in params|lower and 'y' not in params|lower and 'z' not in params|lower %}   # If G28 was called, without parameters, then: home_all == True
        # {% set home_all = (params|length == 0) %}    # Not working. Because G28 always handes over params = {'G': '28'}
    {% set home_all_2 = 'x' not in printer.toolhead.homed_axes|lower or 'y' not in printer.toolhead.homed_axes|lower %}       # if x or y axis are not homed: home_all == True  -  Why? Because Z is set to homed, even if it is not homed. "set_postiion_z: 0" (by andreas)

    {% set home_all = home_all_1 or home_all_2 %}

    {% set NOZZLE_TEMP_PROBING = (printer.save_variables.variables.andreas_nozzle_probing_temp|default(150))|int %}

    {% set printbed_position_center_x = (printer.save_variables.variables.printbed_position_center_x|default(200))|int %}
    {% set printbed_position_center_y = (printer.save_variables.variables.printbed_position_center_y|default(200))|int %}

    # Get the temeperature for the printbed
    {% set bed_slicer = printer["gcode_macro PRINT_START"].slicer_bed_temperature_initial_layer|default(0)|float %}
    {% set bed_saved = printer.save_variables.variables.andreas_printbed_temp_probing|default(60)|float %}
    {% set PRINTBED_TEMP_PROBING = bed_slicer if bed_slicer > 0 else bed_saved %}


    {% set tp = printer["gcode_macro TOOL_POSITIONS"] %}
    {% set clear_y = tp.clearance_y|float %}    # Where the toolhead has cleared the dock


    #--------------------------------------------------------------------------------
    # Debuging: Show Variables
    {% if debug_mode %}
        {% set homing_parameters = params %}

        {action_respond_info("G28 handed over params = " ~ params|string)}
        {action_respond_info("homing_parameters = %s "%homing_parameters)}
        {action_respond_info("home_all = " ~ home_all)}
        {action_respond_info("printer.toolhead.homed_axes = " ~ printer.toolhead.homed_axes)}

        # X-axis:
        {% if 'x' not in printer.toolhead.homed_axes|lower %}
            { action_respond_info("x axis not in printer.toolhead.homed_axes") }
        {% else %}
            { action_respond_info("x axis is in printer.toolhead.homed_axes") }
        {% endif %}
        # Y-axis:
        {% if 'y' not in printer.toolhead.homed_axes %}
            { action_respond_info("y axis not in printer.toolhead.homed_axes") }
        {% else %}
            { action_respond_info("y axis is in printer.toolhead.homed_axes") }
        {% endif %}
        # Z-axis:
        {% if 'z' not in printer.toolhead.homed_axes %}
            { action_respond_info("z axis not in printer.toolhead.homed_axes") }
        {% else %}
            { action_respond_info("z axis is in printer.toolhead.homed_axes") }
        {% endif %}
        # Extruder:
        {% if 'e' not in printer.toolhead.homed_axes %}
            { action_respond_info("e axis not in printer.toolhead.homed_axes") }
        {% else %}
            { action_respond_info("e axis is in printer.toolhead.homed_axes") }
        {% endif %}
        { action_respond_info("-") }
    {% endif %}     # debug_mode



# ??? What happens if not tool T0 is in the toolehad?
# ???   Home X/Y
# ???   Switching to tool T0 to home
# ???   Home Z 
# ???   ? switch back to previous tool
# ???       How to remember tool and tool settings?



    #--------------------------------------------------------------------------------
    # Start homing process
    {% if 'x' in params|lower or 'z' in params|lower or 'y' in params|lower %}

        #--------------------------------------------------------------------------------
        # Reduce the current on stepper motors for homing
        # Defines the amount of current during homing
        {% set HOMING_STEPPER_XY_RUN_CURRENT = (printer.save_variables.variables.andreas_homing_stepper_xy_run_current|default(0.49))|float %}

        # Get actual current settings for stepper motors
        {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
        {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}

        # Reduce current on Stepper-Motors
        SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOMING_STEPPER_XY_RUN_CURRENT}
        SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOMING_STEPPER_XY_RUN_CURRENT}


        M400    # M400 - wait to finish all pending moves/process the buffer

        #------------------------------------------------------------------------------
        # Preapare Z-Homing
        {% if home_all or 'z' in params|lower %}
            {% if act < 0 %}
                {action_raise_error("Aborting: No tool in toolhead !")}   # Error message - will abort
            {% endif %}

            M140 S{PRINTBED_TEMP_PROBING}     # Set printbed temperature - no waiting. Give Printbed more time to heat. This reduces waiting time before Z-homing
        {% endif %}

        M400    # M400 - wait to finish all pending moves/process the buffer

        #--------------------------------------------------------------------------------
        # 1. Move Z up slightly to clear the bed before any XY movement (move bed down if using a bed raiser)
        {% if 'z' not in printer.toolhead.homed_axes|lower %}
            # If Z axis not homed: SET_KINEMATIC and make safety Z-HOP (Z lift)
            M117 Define current position of Z axis as 0
            #SET_KINEMATIC_POSITION Z=0 SET_HOMED=Z         # Kalico command. Not woking in Mainline Klipper
            SET_KINEMATIC_POSITION Z=0
            
            M117 Lifting Z by 1mm - for safety
            { action_respond_info("Lifting Z by 1mm - for safety") }
            G91
            G0 Z{z_clr} F900
            G90

            #SET_KINEMATIC_POSITION SET_HOMED= CLEAR_HOMED=Z         # Kalico command. Not woking in Mainline Klipper

        {% elif printer.toolhead.position.z|float < z_clr %}
            G90
            M117 Lifting Z by 1mm - for safety
            { action_respond_info("Lifting Z by 1mm - for safety") }
            G0 Z{z_clr} F900
        {% endif %}


        #--------------------------------------------------------------------------------
        # 2. Home Y (with reduced TMC current for sensorless homing)
        {% if home_all or 'y' in params|lower %}
            # Home Y first ---> moving toolhead to the back
            # To ensure toolehad is not crashing into the dock. It may in the dock

            M117 Homing Y
            { action_respond_info("Homing Y") }

            M400
            G28 Y           # homes Y - original klipper command.

            G91             # Set to relative mode
            G1 Y-15 F1200   # Move toolhead away from enstop switch when finished to remove stress from the mechanic
            G90

        {% endif %} 

        M400


        #--------------------------------------------------------------------------------
        # 3. Home X (with reduced TMC current for sensorless homing)
        {% if home_all or 'x' in params|lower %}      # if G28 X was called
            M117 Homing X
            { action_respond_info("Homing X") } 
            M400

            # If toolhead in dock area, move toolhead back to clear dock
            {% set cur_y = printer.toolhead.position.y|float %}
            {% if (cur_y - clear_y) * dock_dir > 0 %}
                G90
                G0 Y{clear_y} F3000
            {% endif %}

            G28 X           # homes X - original klipper command.

            G91             # Set to relative mode
            G1 X-15 F1200   # Move toolhead away from enstop switch when finished to remove stress from the mechanic
            G90

        {% endif %}

        M400


        #--------------------------------------------------------------------------------
        # Homing Z
        {% if home_all or 'z' in params|lower %}
            M117 Homing Z
            { action_respond_info("Homing Z") }

            {% set act = printer.save_variables.variables.active_tool|default(-1)|int %}    
            {% if act < 0 %}
                M140 S0         # Set printbed temperature - no wating
                {action_raise_error("Aborting: No tool in toolhead !")}   # Error message and stopping the macro.
            {% elif act != 0 %} 
                # Bondtech recommendation_ Homing for a printjob
                #   4. If any tool other than T0 is active: park it in the dock
                #   5. If T0 is not already picked up: pick up T0
                # Do not do it here. This prevents homing of other tools.  4 & 5 Shall be realized autside of homing_override
                #   {action_respond_info("Tool (active_tool=%d) in toolehad. Switching to tool T0" % act)}
                #   T0

                {action_respond_info("Homing with tool T%d, not T0." % act)}

            {% endif %}

            M190 S{PRINTBED_TEMP_PROBING}   # Set printbed temperature - and wait until reached
            M109 S{NOZZLE_TEMP_PROBING }    # Set extruder temperature - and wait until reached

            M400

            # 6. Move to bed centre and home Z
            G90             # Set to absolute mode
            G1 X{printbed_position_center_x} Y{printbed_position_center_y} F6000      # Move Nozzle to printbed center
            G28 Z           # homes Z - original klipper command.  
            
            M104 S0         # Set extruder temperature - no waiting
            M140 S0         # Set printbed temperature - no wating

            G90             # Set to absolute mode
            G1 Z5 F1200     # Lift Toolhead to 5mm above the print bed to remove stress from zhe piezzo element
        {% endif %}


        #--------------------------------------------------------------------------------
        # Set back current on Stepper-Motors
        SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
        SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}

    {% endif %}




################################################################################################
# safe_z_home
################################################################################################
#[safe_z_home]
# description: eplaced by [homing_override]
    # Replaced by [homing_override]
